---
const { img, color, arrowSide = "left" } = Astro.props;
---

<div
  class={`arrow__${arrowSide} img__container`}
  style={`color: var(${color});`}
>
  <img class="menu__item--img" src={img} alt="" width="600" height="307" />
</div>

<style>
  .img__container {
    display: flex;
    align-items: center;
    color: var(--first-color);
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  /* arrow-left */
  .arrow__left::after {
    content: " ";

    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;

    border-right: 3rem solid;

    margin-left: -3rem;
    z-index: 100;
  }

  /* arrow-right */
  .arrow__right::before {
    content: " ";

    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;

    border-left: 3rem solid;

    margin-right: -3rem;
    z-index: 100;
  }
  @media (max-width: 600px) {
    .img__container {
      position: relative;
      display: flex;
      justify-content: center;
    }
    /* without up arrow */
    .arrow__left::after,
    .arrow__right::before {
      display: none;
    }
    /* whit up arrow */
    /* .arrow__left::after, .arrow__right::before {
        content: " ";
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        
        border-bottom: 2rem solid;
        align-self: flex-end;
        
        margin: 0px;
    } */
  }
</style>
