
---
const {link, title, icon} = Astro.props;
---
<a href={link} class="menu__item--link">
    <img src={icon} alt="">
    <h2>{title}</h2>
</a>

<style>
a {
  text-decoration: none;
}
img {
  max-width: 4rem;
  filter: invert(100%);
}
.menu__item--link h2{
  color: white;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.4s;
}

.menu__item--link h2:hover,
.menu__item--link h2:focus {
  text-decoration-color: white;
}

.menu__item h2 {
  padding: 1em;
  max-width: 350px;
  text-align: center;
  color: white;
}
@media (max-width: 600px) {
  img {
    margin-bottom: 0.5rem;
    max-width: 2.5rem;
  }
}


</style>