---
const {link, title, icon, backgroundColor} = Astro.props;
---
<a href={link} class="menu__item--link">
    <div class="icon__container" style={`background-color:var(${backgroundColor})`}><img src={icon} alt="" width="52" height="52"></div>
    
    <h2>{title}</h2>
</a>

<style>
a {
  text-decoration: none;
}

img {
  max-width: 3rem;
  filter: invert(100%);
}
.menu__item--link h2{
  color: white;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.4s;
}

.menu__item--link h2:hover,
.menu__item--link h2:focus {
  text-decoration-color: white;
}

.menu__item h2 {
  padding: 1em;
  max-width: 350px;
  text-align: center;
  color: white;
}
@media (max-width: 600px) {
  a {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    
  }
  /* Circle Container */
  /* .icon__container {
    background-color: var(--first-color);
    border-radius: 100px;
    width: 50px;
    aspect-ratio: 1;
    margin: -30px auto 0 auto;
  } */

  /* With mobile arrow */
  /* .icon__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-top: -2rem;
  } */

  .menu__item--link h2 {
    padding-top: 0.5em;
  }

  img {
    /* margin-bottom: 0.5rem; */
    max-width: 2.2rem;
  }
}


</style>