
---
const {link, title} = Astro.props;
---
<a href={link} class="menu__item--link">
    <h2>{title}</h2>
</a>

<style>

.menu__item--link h2{
  color: white;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.4s;
}

.menu__item--link h2:hover,
.menu__item--link h2:focus {
  text-decoration-color: white;
}

.menu__item h2 {
  padding: 1em;
  max-width: 350px;
  text-align: center;
  color: white;
}

</style>