---

---
<section class="c5 content">
    <h1 class="c21" id="h.bltsg6hufxcl">
      <span class="c8">&Aacute;REAS CONTAMINADAS</span>
    </h1>
    <p class="c3">
      <span class="c2 c1">A Civilsolo Ambiental &eacute; uma empresa </span
      ><span class="c1">especializada </span
      ><span class="c2 c1"
        >nas etapas de investiga&ccedil;&atilde;o ambiental do solo e de
        &aacute;guas subterr&acirc;neas em &aacute;reas suspeitas de
        contamina&ccedil;&atilde;o e/ou contaminadas. A </span
      ><span class="c4 c9">Civilsolo Ambiental</span
      ><span class="c2 c1"
        >&nbsp;possui equipamentos tecnol&oacute;gicos que possibilitam uma </span
      ><span class="c1">I</span
      ><span class="c11 c1">nvestiga&ccedil;&atilde;o </span
      ><span class="c1">G</span><span class="c1 c11">eoambiental de </span
      ><span class="c1">A</span><span class="c11 c1">lta </span
      ><span class="c1">R</span
      ><span class="c11 c1">esolu&ccedil;&atilde;o</span
      ><span class="c2 c1"
        >, por meio da aquisi&ccedil;&atilde;o de dados em campo em tempo real </span
      ><span class="c1">que permite</span
      ><span class="c2 c1"
        >&nbsp;estabelecer com rapidez e precis&atilde;o o perfil
        hidroestratigr&aacute;fico da &aacute;rea.&nbsp;</span
      >
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c2 c1">Para uma efetiva </span
      ><span class="c1"
        >INVESTIGA&Ccedil;&Atilde;O AMBIENTAL &eacute; necess&aacute;rio
        identificar</span
      ><span class="c2 c1">:&nbsp;</span>
    </p>
    <ol class="c15 lst-kix_sdkijs8utvb7-0 start" start="1">
      <li class="c0 li-bullet-0">
        <span class="c2 c1"
          >&nbsp;As caracter&iacute;sticas do meio f&iacute;sico
          subterr&acirc;neo (&aacute;gua e solo);</span
        >
      </li>
      <li class="c0 li-bullet-0">
        <span class="c1"
          >&nbsp;As concentra&ccedil;&otilde;es de compostos qu&iacute;micos de
          interesse, que s&atilde;o os contaminantes.</span
        ><span class="c2 c1">&nbsp;</span>
      </li>
    </ol>
    <p class="c7 c14"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c2 c1"
        >Uma boa investiga&ccedil;&atilde;o do meio f&iacute;sico &eacute;
        essencial, pois permite compreender as heterogeneidades
        hidrogeol&oacute;gicas </span
      ><span class="c1">do subsolo ao longo da profundidade</span
      ><span class="c2 c1"
        >, de modo a possibilitar o entendimento do transporte dos
        contaminantes, as zonas preferenciais de fluxo</span
      ><span class="c1">, </span
      ><span class="c2 c1"
        >armazenamento e a condutividade hidr&aacute;ulica do solo </span
      ><span class="c1">em escala de cent&iacute;metros</span
      ><span class="c1 c2">. </span>
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c1"
        >A defini&ccedil;&atilde;o do perfil estratigr&aacute;fico (diferentes
        camadas do solo) &eacute; um dos componentes mais importantes na fase de
        investiga&ccedil;&atilde;o, uma vez que &nbsp;apresenta grande
        varia&ccedil;&atilde;o e influ&ecirc;ncia no comportamento dos
        contaminantes no solo. Al&eacute;m disso, as diferen&ccedil;as de
        condutividade hidr&aacute;ulica e heterogeneidade do solo s&atilde;o
        determinantes quando se trata da dire&ccedil;&atilde;o e velocidade da
        migra&ccedil;&atilde;o dos contaminantes na &aacute;gua
        subterr&acirc;nea. </span
      ><span class="c16">&nbsp;</span
      ><span class="c2 c1"
        >Para determinar as concentra&ccedil;&otilde;es dos contaminantes
        s&atilde;o coletadas amostras de solo e de &aacute;gua subterr&acirc;nea
        que s&atilde;o analisadas posteriormente em laborat&oacute;rio.</span
      >
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c2 c1">Para </span
      ><span class="c1"
        >realizar a investiga&ccedil;&atilde;o do meio f&iacute;sico em alta
        resolu&ccedil;&atilde;o</span
      ><span class="c2 c1">, a </span
      ><span class="c4 c9 c13">Civilsolo Ambiental</span
      ><span class="c2 c1">&nbsp;possui </span
      ><span class="c1">um equipamento importado que executa ensaios de </span
      ><span class="c2 c1">&nbsp;CPTu (tamb&eacute;m conhecido como </span
      ><span class="c1">piezocone),</span
      ><span class="c2 c1"
        >&nbsp;que determina com excelente precis&atilde;o a estratigrafia do
        solo</span
      ><span class="c1">&nbsp;</span><span class="c2 c1">e a </span
      ><span class="c1">condutividade hidr&aacute;ulica do solo </span
      ><span class="c2 c1">a cada 2 cm</span><span class="c2 c1">.</span>
    </p>
    <p class="c3">
      <span class="c1">Quando as</span
      ><span class="c2 c1">&nbsp;etapas de investiga&ccedil;&atilde;o </span
      ><span class="c1"
        >utilizam diversas t&eacute;cnicas e ferramentas combinadas, incluindo
        de alta resolu&ccedil;&atilde;o,</span
      ><span class="c2 c1"
        >&nbsp;garantem expressiva redu&ccedil;&atilde;o de custos e de tempo </span
      ><span class="c1">na execu&ccedil;&atilde;o do projeto de </span
      ><span class="c2 c1"
        >remedia&ccedil;&atilde;o. Estudos apontam que para cada 1 d&oacute;lar
        investido na investiga&ccedil;&atilde;o, s&atilde;o economizados 10
        d&oacute;lares na remedia&ccedil;&atilde;o, pois uma boa
        caracteriza&ccedil;&atilde;o do meio f&iacute;sico permite a </span
      ><span class="c1"
        >localiza&ccedil;&atilde;o e concentra&ccedil;&atilde;o da massa dos
        contaminantes e, consequentemente, permite</span
      ><span class="c2 c1">&nbsp;</span
      ><span class="c1">a escolha mais adequada das</span
      ><span class="c2 c1"
        >&nbsp;t&eacute;cnicas e procedimentos de remedia&ccedil;&atilde;o</span
      ><span class="c1">.</span><span class="c2 c1">&nbsp;</span>
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <h2 class="c3 c23" id="h.prr8p1pwnjz4">
      <span class="c4 c13 c9"
        >Como funciona o Gerenciamento de &Aacute;reas Contaminadas?</span
      >
    </h2>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c2 c1"
        >O Gerenciamento de &Aacute;reas Contaminadas &eacute; regido legalmente
        pela Cetesb (no Estado de S&atilde;o Paulo), por meio de sua
        Decis&atilde;o de Diretoria DD-038 de 2017, e pela
        Resolu&ccedil;&atilde;o CONAMA n&ordm; 420 de 2009 no n&iacute;vel
        federal. &Eacute; composto por dois grandes conjuntos de
        a&ccedil;&otilde;es:</span
      >
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <ol class="c15 lst-kix_8c97dugsxg6p-0 start" start="1">
      <li class="c0 li-bullet-0">
        <span class="c2 c1"
          >&nbsp;INVESTIGA&Ccedil;&Atilde;O: A&ccedil;&otilde;es de
          identifica&ccedil;&atilde;o, caracteriza&ccedil;&atilde;o e
          investiga&ccedil;&atilde;o da contamina&ccedil;&atilde;o e do meio
          f&iacute;sico do local de interesse;</span
        >
      </li>
    </ol>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <ol class="c15 lst-kix_8c97dugsxg6p-0" start="2">
      <li class="c0 li-bullet-0">
        <span class="c2 c1"
          >&nbsp;REMEDIA&Ccedil;&Atilde;O: A&ccedil;&otilde;es para reduzir ou
          eliminar a contamina&ccedil;&atilde;o com o objetivo de viabilizar o
          uso seguro da &aacute;rea de interesse.</span
        >
      </li>
    </ol>
    <p class="c3">
      <span class="c2 c1"
        >O Gerenciamento de &Aacute;reas Contaminadas baseia-se em etapas
        sequenciais, em que a informa&ccedil;&atilde;o obtida em cada etapa
        fornece as informa&ccedil;&otilde;es necess&aacute;rias para a
        execu&ccedil;&atilde;o da etapa posterior.</span
      >
    </p>
    <p class="c20">
      <span class="c1">A </span><span class="c4 c9">Civilsolo Ambiental</span
      ><span class="c2 c1"
        >&nbsp;executa as quatro etapas do processo de
        INVESTIGA&Ccedil;&Atilde;O de &aacute;reas contaminadas, sendo
        elas:</span
      >
    </p>
    <h3 class="c17" id="h.p1ta5d9xwz45">
      <span class="c4 c19 c9">Avalia&ccedil;&atilde;o Preliminar</span>
    </h3>
    <p class="c10">
      <span class="c2 c1"
        >A Avalia&ccedil;&atilde;o Preliminar &eacute; uma
        avalia&ccedil;&atilde;o inicial da &aacute;rea com objetivo de
        identificar e definir as &Aacute;reas com Potencial de
        Contamina&ccedil;&atilde;o (AP) e as &Aacute;reas Suspeitas de
        Contamina&ccedil;&atilde;o (AS), que ser&atilde;o investigadas nas
        etapas posteriores. &Eacute; realizada por meio de levantamentos de
        dados e informa&ccedil;&otilde;es dispon&iacute;veis, incluindo
        documenta&ccedil;&atilde;o existente; hist&oacute;rico de
        ocupa&ccedil;&atilde;o da &aacute;rea e tipos de atividades
        desenvolvidas; levantamento aerofotogram&eacute;trico atual e
        pret&eacute;rito; entrevistas com funcion&aacute;rios e moradores do
        entorno; identifica&ccedil;&atilde;o de subst&acirc;ncias
        qu&iacute;micas de interesse e levantamento da geologia e hidrogeologia
        regional e local. &Eacute; imprescind&iacute;vel que a
        Avalia&ccedil;&atilde;o Preliminar seja muito bem feita, pois ela
        &eacute; a base do Gerenciamento de &Aacute;reas Contaminadas. Se as
        &aacute;reas potenciais e suspeitas de contamina&ccedil;&atilde;o
        n&atilde;o forem bem definidas, todo o restante do processo de
        investiga&ccedil;&atilde;o ser&aacute; duvidoso e poder&aacute; gerar
        retrabalho e maior investimento de recursos financeiros.
      </span>
    </p>
    <p class="c7 c10"><span class="c2 c4"></span></p>
    <h3 class="c6" id="h.10t3iyvh2ro4">
      <span class="c4 c9 c19"
        >Investiga&ccedil;&atilde;o Confirmat&oacute;ria</span
      >
    </h3>
    <p class="c10">
      <span class="c1"
        >Na Investiga&ccedil;&atilde;o Confirmat&oacute;ria todas as
        &aacute;reas potenciais e suspeitas levantadas na
        Avalia&ccedil;&atilde;o Preliminar ser&atilde;o investigadas. O objetivo
        desta etapa &eacute; confirmar ou n&atilde;o a exist&ecirc;ncia de
        contamina&ccedil;&atilde;o na &aacute;rea em estudo, al&eacute;m de
        identificar a &aacute;rea fonte da contamina&ccedil;&atilde;o. Nesta
        etapa s&atilde;o feitas algumas an&aacute;lises de &aacute;gua
        subterr&acirc;nea, solo e vapor, bem como sondagens para
        caracteriza&ccedil;&atilde;o inicial do meio f&iacute;sico, a fim de
        investigar a presen&ccedil;a de contaminantes. Se a
        investiga&ccedil;&atilde;o n&atilde;o for feita adequadamente, o
        &oacute;rg&atilde;o ambiental pode exigir mais an&aacute;lises e nova
        mobiliza&ccedil;&atilde;o de equipe em campo antes de aceitar os
        resultados. Por isso, &eacute; muito importante que o trabalho seja
        realizado por uma equipe de qualidade, como a da </span
      ><span class="c4 c9">Civilsolo Ambiental,</span
      ><span class="c2 c1"
        >&nbsp;para que n&atilde;o haja d&uacute;vidas e retrabalho ao fim desta
        etapa. Se confirmada a contamina&ccedil;&atilde;o, o processo segue para
        a etapa seguinte. Se n&atilde;o for encontrado nenhum contaminante, a
        investiga&ccedil;&atilde;o se encerra, desde que seja aprovada pelo
        &oacute;rg&atilde;o ambiental. &nbsp;</span
      >
    </p>
    <p class="c10 c7"><span class="c2 c1"></span></p>
    <h3 class="c6" id="h.rhy0w94mquqs">
      <span>I</span
      ><span class="c4 c19 c9">nvestiga&ccedil;&atilde;o Detalhada</span>
    </h3>
    <p class="c10">
      <span class="c2 c1"
        >Na Investiga&ccedil;&atilde;o Detalhada &eacute; necess&aacute;rio
        definir a extens&atilde;o e a profundidade da
        contamina&ccedil;&atilde;o, de todos os contaminantes presentes na
        &aacute;rea em estudo. &Eacute; preciso detalhar as
        caracter&iacute;sticas do meio f&iacute;sico; quantificar a massa dos
        contaminantes e a forma como cada contaminante se desloca no ambiente;
        definir as fontes prim&aacute;rias e secund&aacute;rias de
        contamina&ccedil;&atilde;o; identificar os receptores futuros da
        contamina&ccedil;&atilde;o e delimitar tridimensionalmente a pluma de
        contamina&ccedil;&atilde;o. No final desta etapa, o grau de incerteza
        sobre a contamina&ccedil;&atilde;o e seu comportamento &nbsp;no meio em
        que se encontra (&aacute;gua e/ou solo) deve ser m&iacute;nimo. Todo o
        trabalho feito at&eacute; esta etapa precisa ser de alta qualidade e
        precis&atilde;o, pois o &oacute;rg&atilde;o ambiental pode n&atilde;o
        autorizar o avan&ccedil;o para a etapa seguinte e exigir que
        a&ccedil;&otilde;es complementares sejam feitas, onerando o processo e
        aumentando o tempo de trabalho.
      </span>
    </p>
    <p class="c10 c7"><span class="c2 c1"></span></p>
    <h3 class="c6" id="h.r7jebhm74kja">
      <span class="c4 c19 c9"
        >Avalia&ccedil;&atilde;o de Risco &agrave; Sa&uacute;de Humana</span
      >
    </h3>
    <p class="c10">
      <span class="c2 c1"
        >Na Avalia&ccedil;&atilde;o de Risco &agrave; Sa&uacute;de Humana
        &eacute; necess&aacute;rio avaliar a toxicidade dos contaminantes em
        rela&ccedil;&atilde;o &agrave;s Concentra&ccedil;&otilde;es
        M&aacute;ximas Aceit&aacute;veis (CMA) de cada contaminante presente;
        caracterizar a exposi&ccedil;&atilde;o humana a estes contaminantes de
        acordo com o uso do solo atual e futuro na &aacute;rea em estudo,
        considerando a forma de contato com os contaminantes (ingest&atilde;o,
        inala&ccedil;&atilde;o ou d&eacute;rmico); e calcular o risco humano,
        avaliando a toxicidade dos contaminantes e o tipo e intensidade de
        exposi&ccedil;&atilde;o. Se for constatado risco &agrave; sa&uacute;de
        humana, dever&aacute; ser definida a &aacute;rea de
        restri&ccedil;&atilde;o e dever&aacute; ser elaborado um Plano de
        Interven&ccedil;&atilde;o para iniciar a remedia&ccedil;&atilde;o do
        local.
      </span>
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <h2 class="c3 c23" id="h.n3ayfzpcmytc">
      <span class="c4 c13 c9"
        >Quem &eacute; respons&aacute;vel pelo Gerenciamento de &Aacute;reas
        Contaminadas?</span
      >
    </h2>
    <p class="c3 c7"><span class="c2 c1 c12"></span></p>
    <p class="c3">
      <span class="c1"
        >O propriet&aacute;rio ou representante legal da &aacute;rea suspeita de
        contamina&ccedil;&atilde;o contrata uma empresa de consultoria, como a </span
      ><span class="c4 c9">Civilsolo Ambiental</span
      ><span class="c1"
        >, para realizar o gerenciamento de todo o processo de
        investiga&ccedil;&atilde;o e/ou remedia&ccedil;&atilde;o. O
        propriet&aacute;rio &eacute; o Respons&aacute;vel Legal pela
        contamina&ccedil;&atilde;o, enquanto a consultoria &eacute; a
        Respons&aacute;vel T&eacute;cnica. A </span
      ><span class="c4 c9">Civilsolo Ambiental </span
      ><span class="c1">se especializou</span><span class="c4 c9">&nbsp;</span
      ><span class="c2 c1"
        >em INVESTIGA&Ccedil;&Atilde;O AMBIENTAL, pois entende que s&atilde;o
        duas etapas distintas que devem ser independentes entre si para
        n&atilde;o haver conflitos de interesse.</span
      >
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c2 c1"
        >A empresa de consultoria representa o cliente perante o
        &oacute;rg&atilde;o ambiental e o poder p&uacute;blico, como prefeitura,
        minist&eacute;rio p&uacute;blico e outros, conforme cada caso. A
        consultoria &eacute; a respons&aacute;vel t&eacute;cnica pela
        condu&ccedil;&atilde;o de parte ou de todo o processo de gerenciamento
        da &aacute;rea contaminada, conforme entendimento com cliente. &Eacute;
        a consultoria que realiza todas as a&ccedil;&otilde;es
        necess&aacute;rias, como o &nbsp;levantamento do hist&oacute;rico de uso
        do solo da regi&atilde;o, an&aacute;lise de documentos, fotografias
        a&eacute;reas, caracteriza&ccedil;&atilde;o estratigr&aacute;fica e
        hidrogeol&oacute;gica da &aacute;rea, amostragem de solo, de &aacute;gua
        subterr&acirc;nea, de vapor (quando o contaminante apresenta grande
        volatilidade como os compostos da gasolina), an&aacute;lises
        laboratoriais, instala&ccedil;&atilde;o de po&ccedil;os de monitoramento
        e outros servi&ccedil;os necess&aacute;rios, como descrito em todas as
        etapas de investiga&ccedil;&atilde;o.
      </span>
    </p>
    <p class="c3 c7"><span class="c2 c1"></span></p>
    <p class="c3">
      <span class="c1"
        >Em cada fase da INVESTIGA&Ccedil;&Atilde;O AMBIENTAL s&atilde;o
        realizados laudos ambientais que s&atilde;o submetidos &agrave;
        an&aacute;lise da CETESB para orienta&ccedil;&otilde;es e
        exig&ecirc;ncias t&eacute;cnicas e processuais, cujas
        determina&ccedil;&otilde;es s&atilde;o informadas ao cliente ou
        representante legal da &aacute;rea para decis&otilde;es e
        encaminhamentos, sempre apoiados tecnicamente pela empresa de
        consultoria. &nbsp;
      </span>
    </p>
    <p class="c3"><span class="c2 c1">&nbsp;</span></p>
    <p class="c7 c24"><span class="c2 c1"></span></p>
  </section>
<style>
.content {
  width: 80%;
  margin: 0 auto;
  max-width: 900px;
}
.content h1 {
  margin-block: 1em;
  color: var(--content-h1-color);
  font-weight: var(--content-h1-weight);
}
.content h2 {
  color: var(--content-h2-color);
  margin-top: 1.5em;
  font-weight: var(--content-h2-weight);
}
.content h3 {
  font-style: italic;
  color: var(--content-h2-color);
  font-weight: 500;
  margin-top: 1.5em;
  font-weight: var(--content-h3-weight);
}
.content p {
  margin-block: 1rem;
  line-height: 1.5em;
  color: var(--content-text-color);
  font-weight: var(--content-text-weight);
}
.c4 {
  color: var(--content-accent-color);
}
.content ol {
  color: var(--content-text-color);
}
.content li {
  margin-bottom: 1em;
  line-height: 1.5em;
  font-weight: var(--content-text-weight);
}
</style>