---
---

<div class="section collapsible">
  <slot />
</div>

<style>
  .section {
    overflow: hidden;
    transition: height 0.6s ease-in;
    height: auto;
    background-color: rgb(138, 163, 222);
    padding: 1rem;
    border-bottom: 1px solid rgb(117 140 192);
  }
  .section.collapsible {
    border: 0px;
    padding-block: 0px;
    background-color: white;
  }
</style>
