---
---

<div class="section">
  <p class="section__summary">
    <slot />
  </p>
</div>

<style>
  .section {
    overflow: hidden;
    transition: height 0.6s ease-in;
    height: auto;
    background-color: var(--collapsable-section-background);
    padding: 1rem;
    border-bottom: 1px solid var(--collapsable-section-divider);
    border-radius: 8px 8px 0 0;
  }
  .section__summary {
    color: var(--collapsable-section-summary);
  }
</style>
