---
const { background = "#85c46b" } = Astro.props;
---

<div class="accent__panel" style={`background-color:var(${background});`}>
  <slot />
</div>

<style>
  .accent__panel {
    background-color: #85c46b;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px;

    margin: 0 auto;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    transition: 0.4s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.4s box-shadow,
      0.4s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  .accent__panel:hover {
    transform: translate3d(0px, -4px, 0px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
</style>
