---
---

<div class="accent__panel--title">
  <slot />
</div>

<style>
  .accent__panel--title {
    color: #03572f;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    margin-top: 0;
    border-bottom: 1px solid #03572f;
    padding-bottom: 0.5rem;
  }
</style>
