---
---

<div class="accent__panel">
  <h3 class="accent__panel--title">
    Para uma efetiva Investigação Ambiental é necessário identificar:
  </h3>
  <ul class="accent__panel--content">
    <li>As características do meio físico subterrâneo (água e solo);</li>
    <li>
      As concentrações de compostos químicos de interesse, que são os
      contaminantes.
    </li>
  </ul>
</div>

<style>
  .accent__panel {
    background-color: #6bc499;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px;

    margin: 0 auto;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    transition: 0.4s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.4s box-shadow,
      0.4s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  .accent__panel:hover {
    transform: translate3d(0px, -4px, 0px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
  .accent__panel p,
  .accent__panel ul {
    color: white;
  }
  .accent__panel ul {
    padding-inline-start: 20px;
  }
</style>
