---
const { color = "--accent-panel-text" } = Astro.props;
---

<div class="accent__panel--content" style={`background-color:var(${color});`}>
  <slot />
</div>

<style>
  .accent__panel--content {
    color: white;
  }
</style>
