:root {
  --first-color: #61c15f;
  --first-color-dark: #448843;
  --second-color: #ffa100;
  --third-color: #c93c00;
  --fourth-color: #237ad6;
  --fifth-color: #845b75;
  --sixth-color: #f7c121;
  --seventh-color: #a8dda7;

  --nice-grey: #575757;

  --content-h1-color: var(--first-color);
  --content-h2-color: var(--first-color);
  --content-h3-color: var(--first-color);
  --content-accent-color: var(--first-color);
  --content-overlay-color: rgba(153, 153, 153, 0.5);

  --content-text-weight: 400;
  --content-h1-weight: 600;
  --content-h2-weight: 500;
  --content-h3-weight: 400;

  --content-text-color: #666666;

  --logo-green: #a8dda7;
  --logo-red: #75001d;

  --empresa-color: var(--seventh-color);
  --servicos-color: var(--third-color);

  --ripple-color: var(--first-color);

  --menu-color: var(--logo-green);
  --menu-label--color: var(--logo-red);

  --divider-color: var(--logo-green);

  --footer-color: white;

  --footer-nav-color: var(--logo-red);

  --card-color: var(--first-color);
}
