:root {
  --first-color: #61c15f;
  --first-color-dark: #448843;
  --second-color: #ffa100;
  --third-color: #c93c00;
  --fourth-color: #563f3f;
  --fifth-color: #845b75;
  --sixth-color: #f7c121;
  --seventh-color: #a8dda7;

  --nice-grey: #575757;

  --whatsapp-green: #25d366;

  --content-h1-color: var(--first-color);
  --content-h2-color: var(--first-color);
  --content-h3-color: var(--first-color);
  --content-accent-color: var(--first-color);
  --content-overlay-color: rgba(153, 153, 153, 0.5);
  --content-overlay-color: rgba(47, 47, 47, 0.6);

  --content-text-weight: 400;
  --content-h1-weight: 600;
  --content-h2-weight: 500;
  --content-h3-weight: 500;

  --content-text-color: #505050;

  --dropdown-background: #ebebeb;

  --accent-panel-background: #85c46b;
  --accent-panel-title: #03572f;
  --accent-panel-divider: #03572f;
  --accent-panel-text: #white;

  --collapsable-section-background: var(--first-color);
  --collapsable-section-summary: white;
  --collapsable-section-divider: #e4dea6;
  --collapsable-section-button-background: var(
    --collapsable-section-background
  );
  --collapsable-section-button-hover: var(--first-color-dark);
  --collapsable-section-button-text: var(--collapsable-section-summary);

  --collapsable-section-background-1: var(--logo-red);
  --collapsable-section-summary-1: white;
  --collapsable-section-divider-1: var(--logo-red);
  --collapsable-section-button-background-1: var(--logo-red);
  --collapsable-section-button-text-1: #white;

  --imgbox-background: #757575;

  --logo-green: #93bc8a;
  --logo-red: #75001d;
  --logo-olivegreen: #4b5c0e;

  --empresa-color: var(--seventh-color);
  --servicos-color: var(--third-color);

  --ripple-color: var(--first-color);

  --menu-color: var(--logo-green);
  --menu-label--color: var(--logo-red);

  --divider-color: var(--seventh-color);

  --footer-background-color: #979797;

  --footer-color: white;
  --footer-text-color: white;
  --footer-logo-text-color: var(--footer-text-color);

  --footer-nav-color: var(--logo-red);

  --card-color: var(--first-color);
}
