---
// Component Imports

import MainLayout from "../Layouts/MainLayout.astro";
import EmpresaContent from "../content/EmpresaContent.astro";
import DividerTitle from "../components/DividerTitle.astro";
import Divider from "../components/Divider.astro";
import WhatsappFloatingBtn from "../components/WhatsappFloatingBtn.astro";
import Site from "../components/Site.json";

const activeNavOption = "Empresa";
---

<MainLayout actioveNav={activeNavOption}>
  <main class="main">
    <DividerTitle title={"Quem somos?"} color={"--empresa-color"} />
    <EmpresaContent />
    <Divider />
    <WhatsappFloatingBtn whats={Site.contact.whatsapp[0].link} />
  </main>
</MainLayout>

<style>
  .main {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 600px) {
    .main {
      margin-top: 0px;
    }
  }
</style>
