---
import "../styles/colors.css";
import MainLayout from "../Layouts/MainLayout.astro";

import Services from "../components/Services/Services.astro";
import Divider from "../components/Divider.astro";
import Card from "../components/Card.astro";

const activeNavOption = "Home";
---

<MainLayout actioveNav={activeNavOption}>
  <main>
    <Services />
  </main>
  <section><Divider /></section>
  <section class="full__background">
    <Card>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </Card>
  </section>
</MainLayout>

<style>
  main {
    margin-top: 1rem;
  }
  .full__background {
    padding-block: 2rem 0;
    box-shadow: inset 0 -6rem 0 0 var(--footer-background-color);
  }
  @media (max-width: 600px) {
    main {
      margin-top: 0;
    }
  }
</style>
