---
import NavBtn from "./NavBtn.astro";
---

<div class="section collapsible">
  <slot />
</div>

<style>
  .section {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    height: auto;
  }
  .section.collapsible {
    border: 0px;
    padding-block: 0px;
  }
</style>
