---
import styles from "../styles/serviceContent.css";

import AccentPanel from "../components/AccentPanel/AccentPanel.astro";
import AccentPanelTitle from "../components/AccentPanel/AccentPanelTitle.astro";
import AccentPanelContent from "../components/AccentPanel/AccentPanelContent.astro";

import ImgBox from "../components/ImgBox/ImgBox.astro";
import ImgBoxText from "../components/ImgBox/ImgBoxText.astro";

import LargeImg from "../components/LargeImg.astro";

import CollapsableSection from "../components/CollapsableSection/CollapsableSection.astro";
import CollapsableItem from "../components/CollapsableSection/CollapsableItem.astro";
import SummaryItem from "../components/CollapsableSection/SummaryItem.astro";

import Card from "../components/Card.astro";

const { imgText } = Astro.props;
---

<section>
  <article class="content">
    <div class="wrapper">
      <h1>ADEQUAÇÃO AMBIENTAL DE PROPRIEDADES RURAIS</h1>
      <p>
        A Adequação Ambiental consiste na regularização ambiental das
        propriedades rurais. Depende, em muitos casos, da recomposição da
        vegetação nativa pelo proprietário, segundo a legislação ambiental
        aplicável, incluindo o Novo Código Florestal de 2012.
      </p>
    </div>
  </article>
  <article>
    <div class="content">
      <LargeImg img={imgText[0]} />
    </div>
  </article>
  <article class="content">
    <div class="wrapper">
      <p>
        Para que as obrigações legais sejam consideradas cumpridas pelos órgãos
        ambientais, no caso do Estado de São Paulo, a CETESB, é necessário que
        todas as etapas do processo de recomposição, desde o Cadastro Ambiental
        Rural (CAR), passando pela elaboração do projeto de revegetação até o
        monitoramento dos indicadores ecológicos, sejam realizadas
        adequadamente.
      </p>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[1]} offset="2">
        <ImgBoxText
          >Após realizar o CAR, o proprietário poderá optar por fazer a adesão
          ao Programa de Regularização Ambiental (PRA), cujo prazo é até
          dezembro de 2022, para identificar se existem passivos ambientais de
          recomposição de vegetação nativa nas Áreas de Preservação Permanente
          (nascentes, beiras de rios, topos de morro, etc) e na Reserva Legal
          (área destinada a preservação de vegetação nativa equivalente a 20% do
          terreno) nos termos do Novo Código Florestal.
        </ImgBoxText>
      </ImgBox>
    </div>

    <div class="wrapper">
      <p>
        Os principais benefícios a serem obtidos com a adesão e cumprimento do
        PRA:
      </p>
      <ul>
        <li>
          A propriedade rural poderá ter menos que 20% da Reserva Legal (RL), se
          elegível para tanto.
        </li>
        <li>
          O proprietário poderá manter o uso rural consolidado (área com usos
          agropecuários e de infraestrutura) em parte das Áreas de Preservação
          Permanente (APPs);
        </li>
        <li>
          O proprietário poderá ter a suspensão de multas (por supressão de
          vegetação em APPs, RLs e área de uso restrito) impostas por infrações
          cometidas antes de 22/07/2008;
        </li>
        <li>
          Prazo para recuperação de passivos ambientais (recomposição das APPs e
          RL) de até 20 anos, iniciando prioritariamente pelas APPs;
        </li>
        <li>
          Possibilidade de que a exigência de recomposição das APPs do imóvel
          rural não ultrapasse 10% da área total do imóvel (para imóveis com
          área de até 2
        </li>
      </ul>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[2]} offset="2">
        <ImgBoxText>
          Para solucionar esses passivos ambientais, o proprietário do imóvel
          rural que aderir ao PRA deverá apresentar o Projeto de Recomposição de
          Áreas Degradadas e Alteradas (PRADA), que é um conjunto de ações para
          realizar o plantio e insumos necessários para a recomposição vegetal,
          a partir das informações constantes no CAR.
        </ImgBoxText>
      </ImgBox>
    </div>

    <div class="wrapper">
      <AccentPanel>
        <AccentPanelContent>
          <p class="white">
            Com a aprovação do PRADA e após a assinatura do termo de
            compromisso, o imóvel será homologado como regularizado
            ambientalmente junto aos órgãos competentes.
          </p>
        </AccentPanelContent>
      </AccentPanel>
    </div>

    <div class="wrapper">
      <p>
        Para imóveis sem adesão ao Programa de Regularização Ambiental (PRA),
        devem ser elaborados o Projeto de Adequação Ambiental (PAA) e o Termo de
        Compromisso (TCA), além de relatórios periódicos de monitoramento e
        conclusão das ações de adequação.
      </p>
    </div>
    <div class="wrapper">
      <AccentPanel>
        <AccentPanelTitle>O prazo para adesão ao PRA:</AccentPanelTitle>
        <AccentPanelContent>
          <p class="white">
            É importante destacar que, conforme estabelece o artigo 2° do
            Decreto Estadual n° 64.842 de 2020, a adesão ao PRA poderá ser
            realizada até 31 de dezembro de 2022!!
          </p>
        </AccentPanelContent>
      </AccentPanel>
    </div>

    <div class="wrapper">
      <CollapsableSection>
        <CollapsableItem>
          <p>
            A Civilsolo Ambiental fornece todos os serviços relacionados aos
            processos de Adequação Ambiental com ou sem adesão ao PRA, sendo
            eles:
          </p>
          <ul>
            <li>
              Inscrição do imóvel no Cadastro Ambiental Rural (CAR), se for de
              interesse;
            </li>
            <li>
              Elaboração de relatórios e inclusão de todos os documentos e
              informações do imóvel rural e do proprietário no Sistema
              Informatizado (Sicar-SP) para efeito legal e probatório junto à
              CETESB, se tiver inscrito no CAR;
            </li>
            <li>
              Diagnósticos e levantamentos das áreas a serem recompostas
              (histórico de uso pretérito e atual da área; condições de
              conservação e/ou degradação do solo; fatores de perturbação;
              potencial de regeneração natural etc);
            </li>
            <li>
              Indicação e execução das estratégias de recomposição da vegetação
              nativa, incluindo condução da regeneração natural das espécies
              nativas; plantio de espécies nativas; plantio de espécies nativas
              conjugado com a condução da regeneração natural e plantio
              intercalado de espécies nativas e exóticas;
            </li>
            <li>
              Acompanhamento e manutenção da recomposição da vegetação nativa,
              incluindo (plantios, controle de espécies invasoras, tratos
              culturais, etc);
            </li>
            <li>
              Monitoramento da recomposição vegetal, incluindo definição e
              acompanhamento de indicadores ecológicos de cobertura do solo com
              vegetação nativa, número e densidade de indivíduos regenerantes,
              acompanhamento dos fatores de perturbação, etc;
            </li>
            <li>
              Exploração Sustentável em APPs e RL submetidas à recomposição com
              implantação de Sistemas Agroflorestais (SAFs), se for elegível
              para tanto e se houver interesse por parte do proprietário .
            </li>
          </ul>
        </CollapsableItem>
      </CollapsableSection>
    </div>
    <div class="wrapper">
      <Card
        >Entenda as limitações e possibilidades de adequação Ambiental de sua
        propriedade com a <span class="accent">Civilsolo Ambiental</span>! Entre
        em contato para esclarecer suas dúvidas e fazer um orçamento sem
        compromisso!</Card
      >
    </div>
  </article>
</section>

<style>
  .center {
    display: flex;
    justify-content: center;
  }
  .full__background {
    padding-block: 2rem;
    background-color: #bca1b2;
  }
  .img {
    align-self: flex-start;
    width: 100%;
    height: auto;
    max-width: 600px;
  }
  .bulletpoints {
    list-style: disc;
  }
</style>
