---
import styles from "../styles/serviceContent.css";

import img1 from "/assets/adequacao/2.png";

import img3 from "/assets/adequacao/3.jpg";
---

<div class="c12 c13 content">
  <h1 class="c3" id="h.7z4ct4tlolwp">
    <span class="c11"
      >ADEQUA&Ccedil;&Atilde;O AMBIENTAL DE PROPRIEDADES RURAIS</span
    >
  </h1>
  <p class="c8">
    <span class="c0"
      >A Adequa&ccedil;&atilde;o Ambiental, consiste na
      regulariza&ccedil;&atilde;o ambiental das propriedades rurais que depende,
      em muitos casos, da recomposi&ccedil;&atilde;o da vegeta&ccedil;&atilde;o
      nativa pelo propriet&aacute;rio, segundo a legisla&ccedil;&atilde;o
      ambiental aplic&aacute;vel, incluindo o Novo C&oacute;digo Florestal de
      2012.
    </span>
  </p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <span class="c0"
      >Para que as obriga&ccedil;&otilde;es legais sejam consideradas cumpridas
      pelos &oacute;rg&atilde;os licenciadores, no caso do Estado de S&atilde;o
      Paulo, a CETESB, &eacute; necess&aacute;rio que todas as etapas do
      processo de recomposi&ccedil;&atilde;o, desde o Cadastro Ambiental Rural
      (CAR), passando pela elabora&ccedil;&atilde;o do projeto de
      revegeta&ccedil;&atilde;o at&eacute; o monitoramento &nbsp;dos indicadores
      ecol&oacute;gicos, sejam realizadas adequadamente e compat&iacute;veis com
      alta produtividade agropecu&aacute;ria da propriedade.</span
    >
  </p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <span class="c0"
      >Para que o processo de recomposi&ccedil;&atilde;o seja considerado legal
      pelo &oacute;rg&atilde;o licenciador &eacute; necess&aacute;rio que o
      propriet&aacute;rio tenha feito o Cadastro Ambiental Rural (CAR).
      Ap&oacute;s isso, o propriet&aacute;rio poder&aacute; optar por fazer a
      ades&atilde;o ao Programa de Regulariza&ccedil;&atilde;o Ambiental (PRA),
      cujo prazo &eacute; at&eacute; dezembro de 2022, para identificar se
      existem passivos ambientais de recomposi&ccedil;&atilde;o de
      vegeta&ccedil;&atilde;o nativa nas &Aacute;reas de
      Preserva&ccedil;&atilde;o Permanente (nascentes, beiras de rios, topos de
      morro, etc) e na Reserva Legal (&aacute;rea destinada a
      preserva&ccedil;&atilde;o de vegeta&ccedil;&atilde;o nativa equivalente a
      20% do terreno) nos termos do Novo C&oacute;digo Florestal.
    </span>
  </p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <figure class="c3 img__container">
      <img alt="" src={img1} title="" />
    </figure>
  </p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <span class="c0"
      >Para solucionar esses passivos ambientais, o propriet&aacute;rio do
      imovel rural que aderiu ao PRA dever&aacute; apresentar o Projeto de
      Recomposi&ccedil;&atilde;o de &Aacute;reas Degradadas &nbsp;e Alteradas
      &nbsp;(PRADA), que &eacute; um instrumento de planejamento das
      a&ccedil;&otilde;es incluindo metodologias de plantio, cronograma de
      execu&ccedil;&atilde;o, e insumos necess&aacute;rios para a
      recomposi&ccedil;&atilde;o vegetal, a partir das informa&ccedil;&otilde;es
      constantes no CAR. Mediante a execu&ccedil;&atilde;o das etapas &nbsp;do
      PRADA, que tem um prazo estendido de at&eacute; 20 anos para ser cumprido,
      &nbsp;e de um Termo de Compromisso (TCPRA) firmado entre CETESB e
      propriet&aacute;rio, o im&oacute;vel ser&aacute; homologado como
      regularizado ambientalmente junto aos &oacute;rg&atilde;os competentes.
    </span>
  </p>
  <p class="c8">
    <span class="c0"
      >Para im&oacute;veis sem ades&atilde;o ao Programa de
      Regulariza&ccedil;&atilde;o Ambiental (PRA), devem ser elaborados o
      Projeto de Adequa&ccedil;&atilde;o Ambiental (PAA) e o Termo de
      Compromisso (TCA), al&eacute;m de relat&oacute;rios peri&oacute;dicos de
      monitoramento e conclus&atilde;o das a&ccedil;&otilde;es de
      adequa&ccedil;&atilde;o.
    </span>
  </p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <span class="c9">A </span><span class="c2">Civilsolo Ambiental</span><span
      class="c0"
      >&nbsp;fornece todos os servi&ccedil;os relacionados aos processos de
      Adequa&ccedil;&atilde;o Ambiental com ou sem ades&atilde;o ao PRA, sendo
      eles:
    </span>
  </p>
  <p class="c1"><span class="c0"></span></p>
  <ul class="c6 lst-kix_b8uihdycgb82-0 start">
    <li class="c7 li-bullet-0">
      <span class="c0"
        >Inscri&ccedil;&atilde;o do im&oacute;vel no Cadastro Ambiental Rural
        (CAR), se for de interesse;
      </span>
    </li>
    <li class="c7 li-bullet-0">
      <span class="c9"
        >Elabora&ccedil;&atilde;o de relat&oacute;rios e inclus&atilde;o de
        todos os documentos e informa&ccedil;&otilde;es do im&oacute;vel rural e
        do propriet&aacute;rio no Sistema Informatizado (Sicar-SP) para efeito
        legal e probat&oacute;rio junto &agrave; CETESB,
      </span><span class="c9 c10">se tiver inscrito no CAR</span><span
        class="c0">;</span
      >
    </li>
    <li class="c7 li-bullet-0">
      <span class="c0"
        >Diagn&oacute;sticos e levantamentos das &aacute;reas a serem
        recompostas (hist&oacute;rico de uso pret&eacute;rito e atual da
        &aacute;rea; condi&ccedil;&otilde;es de conserva&ccedil;&atilde;o e/ou
        degrada&ccedil;&atilde;o do solo; fatores de perturba&ccedil;&atilde;o;
        potencial de regenera&ccedil;&atilde;o natural etc);</span
      >
    </li>
    <li class="c7 li-bullet-0">
      <span class="c0"
        >Indica&ccedil;&atilde;o e execu&ccedil;&atilde;o das estrat&eacute;gias
        de recomposi&ccedil;&atilde;o da vegeta&ccedil;&atilde;o nativa,
        incluindo condu&ccedil;&atilde;o da regenera&ccedil;&atilde;o natural
        das esp&eacute;cies nativas; plantio de esp&eacute;cies nativas; plantio
        de esp&eacute;cies nativas conjugado com a condu&ccedil;&atilde;o da
        regenera&ccedil;&atilde;o natural e plantio intercalado de
        esp&eacute;cies nativas e ex&oacute;ticas;</span
      >
    </li>
    <li class="c7 li-bullet-0">
      <span class="c0"
        >Acompanhamento e manuten&ccedil;&atilde;o da recomposi&ccedil;&atilde;o
        da vegeta&ccedil;&atilde;o nativa, incluindo (plantios, controle de
        esp&eacute;cies invasoras, tratos culturais, etc);</span
      >
    </li>
    <li class="c7 li-bullet-0">
      <span class="c0"
        >Monitoramento da recomposi&ccedil;&atilde;o vegetal, incluindo
        defini&ccedil;&atilde;o e acompanhamento de indicadores
        ecol&oacute;gicos de cobertura do solo com vegeta&ccedil;&atilde;o
        nativa, n&uacute;mero e densidade de indiv&iacute;duos regenerantes,
        acompanhamento dos fatores de perturba&ccedil;&atilde;o, etc;</span
      >
    </li>
    <li class="c7 li-bullet-0">
      <span class="c9"
        >Explora&ccedil;&atilde;o Sustent&aacute;vel em APPs e RL submetidas
        &agrave; recomposi&ccedil;&atilde;o com implanta&ccedil;&atilde;o de
        Sistemas Agroflorestais (SAFs), se for eleg&iacute;vel para tanto e se
        houver interesse por parte do propriet&aacute;rio .</span
      >
    </li>
  </ul>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <span class="c5 bold"
      >&Eacute; importante destacar que, conforme estabelece o artigo 2&deg; do
      Decreto Estadual n&deg; 64.842 de 2020, a ades&atilde;o ao PRA
      poder&aacute; ser realizada at&eacute; 31 de dezembro de 2022!!</span
    >
  </p>
  <p class="c1"><span class="c5"></span></p>
  <p class="c8">
    <figure class="c3 img__container">
      <img alt="" src={img3} title="" />
    </figure>
  </p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c8">
    <span class="c0"
      >Seguem os principais benef&iacute;cios a serem obtidos com a
      ades&atilde;o e cumprimento do PRA:</span
    >
  </p>
  <p class="c1"><span class="c0"></span></p>
  <ul class="c6 lst-kix_spkfkq3aiaqb-0 start">
    <li class="c4 li-bullet-1">
      <span class="c0"
        >A propriedade rural poder&aacute; ter menos que 20% da Reserva Legal
        (RL), se eleg&iacute;vel para tanto.
      </span>
    </li>
    <li class="c4 li-bullet-1">
      <span class="c0"
        >O propriet&aacute;rio poder&aacute; manter o uso rural consolidado
        (&aacute;rea com usos agropecu&aacute;rios e de infraestrutura) &nbsp;em
        parte das &Aacute;reas de Preserva&ccedil;&atilde;o Permanente (APPs);</span
      >
    </li>
    <li class="c4 li-bullet-1">
      <span class="c0"
        >O propriet&aacute;rio poder&aacute; ter a suspens&atilde;o de multas
        (por supress&atilde;o de vegeta&ccedil;&atilde;o em APPs, RLs e
        &aacute;rea de uso restrito) impostas por infra&ccedil;&otilde;es
        cometidas antes de 22/07/2008;</span
      >
    </li>
    <li class="c4 li-bullet-2">
      <span class="c0"
        >Possibilidade de revis&atilde;o dos compromissos ambientais assumidos
        para efeito da adequa&ccedil;&atilde;o ambiental;</span
      >
    </li>
    <li class="c4 li-bullet-1">
      <span class="c0"
        >Prazo para recupera&ccedil;&atilde;o de passivos ambientais
        (recomposi&ccedil;&atilde;o das APPs e RL) de at&eacute; 20 anos,
        iniciando prioritariamente pelas APPs;</span
      >
    </li>
    <li class="c4 li-bullet-1">
      <span class="c0"
        >Possibilidade de que a exig&ecirc;ncia de recomposi&ccedil;&atilde;o
        das APPs do im&oacute;vel rural n&atilde;o ultrapasse 10% da &aacute;rea
        total do im&oacute;vel (para im&oacute;veis com &aacute;rea de
        at&eacute; 2 m&oacute;dulos fiscais) e 20% da &aacute;rea total do
        im&oacute;vel (para im&oacute;veis com &aacute;rea at&eacute; 4
        m&oacute;dulos fiscais).</span
      >
    </li>
  </ul>
</div>
