---
import styles from "../styles/serviceContent.css";

const { imgText } = Astro.props;
---

<section>
  <article class="content">
    <h1>Áreas Contaminadas</h1>
    <p>
      A <span class="accent">Civilsolo Ambiental</span> é uma empresa especializada
      nas etapas de investigação ambiental do solo e de águas subterrâneas em áreas
      suspeitas de contaminação e/ou contaminadas. Uma boa investigação do meio físico
      é essencial. Permite compreender as heterogeneidades hidrogeológicas do subsolo
      ao longo da profundidade, e com isso, o entendimento detalhado sobre o transporte
      dos contaminantes, as zonas preferenciais de fluxo, as zonas de armazenamento
      e a condutividade hidráulica do solo.
    </p>

    <div class="accent__panel">
      <p class="accent__panel--title">
        Para uma efetiva Investigação Ambiental é necessário identificar:
      </p>
      <ul class="accent__panel--content">
        <li>As características do meio físico subterrâneo (água e solo);</li>
        <li>
          As concentrações de compostos químicos de interesse, que são os
          contaminantes.
        </li>
      </ul>
    </div>

    <div class="card__container">
      <div class="card">
        <img src={imgText[0]} alt="" class="card__img img__offset--left-1" />
        <div class="card__divider"></div>
        <p class="card__text">
          A <span class="accent">Civilsolo Ambiental</span> possui um equipamento
          importado que executa ensaios de CPTu também conhecido como piezocone,
          que determina em tempo real com excelente precisão a estratigrafia do solo
          e a condutividade hidráulica do solo a cada 2 cm.
        </p>
      </div>
    </div>

    <div class="card__container">
      <div class="card flex__reverse">
        <img src={imgText[3]} alt="" class="card__img img__offset--right-2" />
        <div class="card__divider"></div>
        <p class="card__text">
          A definição do perfil hidroestratigráfico é um dos componentes mais
          importantes na fase de investigação ambiental, uma vez que permite
          determinar direção e velocidade da migração dos contaminantes na água
          subterrânea. Para determinar as concentrações dos contaminantes é
          necessário fazer coletas de amostras de solo e de água subterrânea que
          são analisadas posteriormente em laboratório.
        </p>
      </div>
    </div>

    <div class="accent__panel">
      <p class="accent__panel--title">Você sabia?</p>
      <p class="accent__panel--content">
        Estudos apontam que para cada 1 dólar investido na investigação, são
        economizados 10 dólares na remediação, pois uma boa caracterização do
        meio físico permite a localização e concentração da massa dos
        contaminantes e, consequentemente, permite a escolha mais adequada das
        técnicas e procedimentos de remediação.
      </p>
    </div>

    <p>
      A <span class="accent">Civilsolo Ambiental</span> também oferece apoio técnico
      e especializado aos empreendedores imobiliários, empresas e construtoras na
      aquisição de terrenos ou no início da implantação de um empreendimento. A investigação
      ambiental desses terrenos evita problemas ambientais, financeiros e legais
      quando há indícios de contaminação do solo e da água subterrânea, notadamente
      em áreas que foram aterradas e ocupadas por indústrias.
    </p>

    <div class="card__container">
      <div class="card">
        <img src={imgText[2]} alt="" class="card__img img__offset--left-2" />
        <div class="card__divider"></div>
        <p class="card__text">
          Os postos de combustíveis respondem por mais de 80% das áreas
          contaminadas no Estado de São Paulo. Desde o ano de 2000 são passíveis
          de licenciamento ambiental, cujos procedimentos incluem medidas de
          investigação de áreas suspeitas ou confirmadas de contaminação.
        </p>
      </div>
    </div>
  </article>
  <article class="full__background">
    <div class="content">
      <h2>Quem é responsável pelo Gerenciamento de Áreas Contaminadas?</h2>
      <p>
        O proprietário ou representante legal da área suspeita de contaminação
        contrata uma empresa de consultoria, como a <span class="accent"
          >Civilsolo Ambiental</span
        >, para realizar o gerenciamento de todo o processo de investigação e/ou
        remediação. O proprietário é o Responsável Legal pela contaminação,
        enquanto a consultoria é a Responsável Técnica. A <span class="accent"
          >Civilsolo Ambiental</span
        > se especializou em Investigação Ambiental, pois entende que são duas etapas
        distintas que devem ser independentes entre si para não haver conflitos de
        interesse.
      </p>

      <div class="accent__panel">
        <p class="accent__panel--title">O papel da empresa de consultoria:</p>
        <p class="accent__panel--content">
          A empresa de consultoria representa o cliente perante o órgão
          ambiental e o poder público, como prefeitura, ministério público e
          outros, conforme cada caso. É a consultoria, a exemplo da Civilsolo
          Ambiental, que realiza todas as ações necessárias, como: Levantamento
          do histórico de ocupação e uso; Análise de documentos e fotografias
          aéreas; Caracterização hidrogeológica da área Sondagens para
          amostragem de solo e instalação de poços de monitoramento para coleta
          de água subterrânea; Análise e interpretação dos resultados obtidos.
        </p>
      </div>

      <div class="card__container">
        <div class="card flex__reverse">
          <img src={imgText[1]} alt="" class="card__img img__offset--right-2" />
          <div class="card__divider"></div>
          <p class="card__text">
            Em cada fase da Investigação Ambiental são realizados laudos
            ambientais que são submetidos à análise da CETESB para orientações e
            exigências técnicas e processuais, cujas determinações são
            informadas ao cliente ou representante legal da área para decisões e
            encaminhamentos, sempre apoiados tecnicamente pela empresa de
            consultoria.
          </p>
        </div>
      </div>
      <p>
        Entenda os problemas ambientais relacionados às contaminações e as
        possibilidades de ocupação de seu terreno com a <span class="accent"
          >Civilsolo Ambiental</span
        >! Entre em contato para esclarecer suas dúvidas!
      </p>
      <button>Saiba mais</button>
    </div>
  </article>

  <div class="content"></div>
</section>

<style>
  .accent__panel {
    background-color: #85c46b;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px;

    margin: 2rem auto;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    transition: 0.4s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.4s box-shadow,
      0.4s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  .accent__panel--content {
    color: white;
  }

  .accent__panel:hover {
    transform: translate3d(0px, -4px, 0px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
  .accent__panel--title {
    color: #03572f;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    margin-top: 0;
    border-bottom: 1px solid #03572f;
    padding-bottom: 0.5rem;
  }

  .accent__panel ul {
    padding-inline-start: 20px;
  }

  .card__container {
    margin-block: 4rem 3rem;
  }
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    background-color: #656565;
  }
  .card__img {
    justify-self: flex-start;
    width: 50%;
  }
  .img__offset--right-1 {
    transform: translate3d(1rem, -1rem, 0);
  }
  .img__offset--right-2 {
    transform: translate3d(1rem, -2rem, 0);
  }
  .img__offset--left-1 {
    transform: translate3d(-1rem, -1rem, 0);
  }
  .img__offset--left-2 {
    transform: translate3d(-1rem, -2rem, 0);
  }
  .card__text {
    width: 50%;
    padding: 1rem;
    color: white;
    margin-block: 1rem;
  }
  .card__divider {
    width: 2px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--first-color);
  }
  .card__text::before {
    position: absolute;
    width: 2px;
    height: 40%;
    border-radius: 10px;
    background-color: var(--first-color);
    top: 30%;
    right: 50%;
  }
  .flex__reverse {
    flex-direction: row-reverse;
  }
  .full__background {
    background-color: #e5edd1;
    padding-block: 1rem;
  }
  @media (max-width: 600px) {
    .card__container {
      margin-block: 2rem;
    }
    .card {
      flex-direction: column;
    }
    .card__img {
      width: 100%;
    }
    .card__text {
      width: 100%;
      margin: 0;
    }
    .card__divider {
      width: 100px;
      height: 2px;
      margin-top: 1rem;
    }
    .img__offset--right-1 {
      transform: translate3d(0rem, 0rem, 0);
    }
    .img__offset--right-2 {
      transform: translate3d(0rem, 0rem, 0);
    }
    .img__offset--left-1 {
      transform: translate3d(0rem, 0rem, 0);
    }
    .img__offset--left-2 {
      transform: translate3d(0rem, 0rem, 0);
    }
  }
</style>
