---
import styles from "../styles/serviceContent.css";

import img4 from "/assets/compensacao/4.jpg";

import img6 from "/assets/compensacao/6.jpg";
---

<div class="c7 content">
  <h1 class="c5" id="h.kmjyvt3a4nmi">
    <span class="c8"
      >COMPENSA&Ccedil;&Atilde;O AMBIENTAL E PLANTIO DE MUDAS NATIVAS</span
    >
  </h1>
  <p class="c0">
    <span class="c1"
      >Projetos e iniciativas de Compensa&ccedil;&atilde;o Ambiental tem como
      objetivo compensar impactos ambientais que ocorram ou estejam previstos
      durante o processo de licenciamento ambiental. Trata-se de um mecanismo da
      legisla&ccedil;&atilde;o ambiental para que o empreendedor cumpra sua
      obriga&ccedil;&atilde;o de diminuir o dano ambiental causado ao meio
      ambiente quando associado &agrave; supress&atilde;o de
      vegeta&ccedil;&atilde;o nativa, ao corte de &aacute;rvores isoladas e/ou
      &agrave;s interven&ccedil;&otilde;es em &Aacute;reas de
      Preserva&ccedil;&atilde;o Permanente, em &aacute;reas rurais e urbanas.
    </span>
  </p>
  <p class="c0 c6"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >A compensa&ccedil;&atilde;o pode ser realizada no pr&oacute;prio
      im&oacute;vel ou em im&oacute;vel de terceiros, incluindo as unidades de
      conserva&ccedil;&atilde;o, conforme estabelece a Resolu&ccedil;&atilde;o
      SMA 07/2017, cujos crit&eacute;rios e par&acirc;metros consideram, para
      efeito de c&aacute;lculo e defini&ccedil;&atilde;o de
      localiza&ccedil;&atilde;o de &aacute;rea, os diferentes est&aacute;gios
      sucessionais da vegeta&ccedil;&atilde;o (inicial, m&eacute;dio e
      avan&ccedil;ado) a ser suprimida e mapa de &aacute;reas
      priorit&aacute;rias para restaura&ccedil;&atilde;o da
      vegeta&ccedil;&atilde;o nativa do Estado de S&atilde;o Paulo.
    </span>
  </p>
  <p class="c0 c6"><span class="c1"></span></p>
  <p class="c0">
    <figure class="c3 img__container">
      <img alt="" src={img4} title="" />
    </figure>
  </p>
  <p class="c0 c6"><span class="c1"></span></p>
  <p class="c0">
    <span class="c9"
      >As a&ccedil;&otilde;es compensat&oacute;rias podem ser feitas por meio de
      plantios de esp&eacute;cies nativas florestais em &aacute;reas degradadas
      para efeito de recupera&ccedil;&atilde;o ambiental ou
      restaura&ccedil;&atilde;o ecol&oacute;gica, ou tamb&eacute;m por meio da
      preserva&ccedil;&atilde;o de &aacute;rea florestal remanescente. A
      defini&ccedil;&atilde;o do tipo de compensa&ccedil;&atilde;o a ser
      realizada &eacute; parte do trabalho de consultoria ambiental e para que
      isso ocorra de forma adequada e com qualidade a
    </span><span class="c4">Civilsolo Ambiental </span><span class="c1"
      >fornece:
    </span>
  </p>
  <p class="c0 c6"><span class="c1"></span></p>
  <ul class="c11 lst-kix_gdeug7qaxj1-0 start">
    <li class="c0 c3 li-bullet-0">
      <span class="c1"
        >An&aacute;lise t&eacute;cnica para mensurar e o tipo de
        compensa&ccedil;&atilde;o ambiental, de acordo com o impacto e
        aplica&ccedil;&atilde;o da legisla&ccedil;&atilde;o ambiental
        pertinente;</span
      >
    </li>
    <li class="c0 c3 li-bullet-0">
      <span class="c1"
        >Assessoria t&eacute;cnica para elaborar Termos de
        Compensa&ccedil;&atilde;o Ambiental (TCAs), quando firmados com
        Minist&eacute;rio P&uacute;blico e/ou Termos de Compromisso &nbsp;de
        Recupera&ccedil;&atilde;o Ambiental (TCRAs) quando firmados com a
        CETESB;</span
      >
    </li>
    <li class="c0 c3 li-bullet-0">
      <span class="c1"
        >Elabora&ccedil;&atilde;o de projetos de reflorestamento e de
        recomposi&ccedil;&atilde;o de &Aacute;reas de Preserva&ccedil;&atilde;o
        Permanente (APPs);</span
      >
    </li>
    <li class="c0 c3 li-bullet-0">
      <span class="c1"
        >Execu&ccedil;&atilde;o dos plantios compensat&oacute;rios com
        esp&eacute;cies florestais &nbsp;nativas e condu&ccedil;&atilde;o da
        regenera&ccedil;&atilde;o natural;
      </span>
    </li>
    <li class="c0 c3 li-bullet-0">
      <span class="c1"
        >Acompanhamento t&eacute;cnico dos plantios e a&ccedil;&otilde;es
        exigidas &nbsp;nos TCAs e TCRAs com relat&oacute;rios t&eacute;cnicos
        mensais sobre os plantios compensat&oacute;rios e a&ccedil;&otilde;es em
        desenvolvimento;</span
      >
    </li>
  </ul>
  <p class="c0 c6"><span class="c1"></span></p>
  <p class="c0">
    <figure class="c3 img__container">
      <img alt="" src={img6} title="" />
    </figure>
  </p>
  <p class="c0 c6"><span class="c1"></span></p>
  <p class="c0">
    <span class="c1"
      >Quando a compensa&ccedil;&atilde;o se tratar de preserva&ccedil;&atilde;o
      de &aacute;rea remanescente no im&oacute;vel ou de terceiro
      (p&uacute;blico ou privado) ser&aacute; necess&aacute;ria a
      apresenta&ccedil;&atilde;o da matr&iacute;cula do im&oacute;vel da
      &aacute;rea indicada para a compensa&ccedil;&atilde;o; anu&ecirc;ncia do
      propriet&aacute;rio; caracteriza&ccedil;&atilde;o do bioma e fisionomia da
      vegeta&ccedil;&atilde;o nativa; memorial descritivo com per&iacute;metro
      da &aacute;rea a ser destinada para compensa&ccedil;&atilde;o e planta do
      im&oacute;vel contendo o per&iacute;metro da &aacute;rea a ser preservada,
      georreferenciada em coordenadas geogr&aacute;ficas.
    </span>
  </p>
  <p class="c2"><span class="c10"></span></p>
  <p class="c0">
    <span class="c9"
      >Poder&atilde;o ser utilizadas para compensa&ccedil;&atilde;o &aacute;reas
      p&uacute;blicas e particulares, desde que n&atilde;o sejam alvo de
      obriga&ccedil;&otilde;es judiciais ou administrativas estabelecidas em
      licen&ccedil;as, Termos de Compromisso Ambiental ou Termos de Ajustamento
      de Conduta firmados com &oacute;rg&atilde;os ambientais competentes, bem
      como n&atilde;o sejam abrangidas por projetos de restaura&ccedil;&atilde;o
      ecol&oacute;gica executados com recursos p&uacute;blicos e mediante
      anu&ecirc;ncia do &oacute;rg&atilde;o gestor (no caso de &aacute;rea
      p&uacute;blica), e mediante anu&ecirc;ncia &nbsp;do propriet&aacute;rio,
      no caso de &aacute;rea particular, desde que comprovada a sua
      dominialidade.
    </span>
  </p>
</div>
