---
import styles from "../styles/serviceContent.css";

import AccentPanel from "../components/AccentPanel/AccentPanel.astro";
import AccentPanelTitle from "../components/AccentPanel/AccentPanelTitle.astro";
import AccentPanelContent from "../components/AccentPanel/AccentPanelContent.astro";

import ImgBox from "../components/ImgBox/ImgBox.astro";
import ImgBoxText from "../components/ImgBox/ImgBoxText.astro";

import LargeImg from "../components/LargeImg.astro";

import CollapsableSection from "../components/CollapsableSection/CollapsableSection.astro";
import CollapsableItem from "../components/CollapsableSection/CollapsableItem.astro";
import SummaryItem from "../components/CollapsableSection/SummaryItem.astro";

import Card from "../components/Card.astro";
const { imgText } = Astro.props;
---

<section>
  <article class="content">
    <h1>Compensação Ambiental e Plantio de Mudas Nativas</h1>

    <p>
      Projetos de Compensação Ambiental tem como objetivo compensar impactos
      ambientais que ocorram ou estejam previstos durante o processo de
      licenciamento ambiental. Trata-se de de uma ação reparadora para que o
      empreendedor cumpra sua obrigação de diminuir o dano ambiental causado ao
      meio ambiente quando associado à supressão de vegetação nativa, ao corte
      de árvores isoladas e/ou às intervenções em Áreas de Preservação
      Permanente (APPs), em áreas rurais e urbanas.
    </p>
    <div class="wrapper">
      <AccentPanel>
        <AccentPanelTitle>O cálculo da compensação</AccentPanelTitle>
        <AccentPanelContent>
          <p class="white">
            A compensação pode ser realizada no próprio imóvel ou em imóvel de
            terceiros. Para efeito de cálculo da quantidade e localização da
            área, são considerados o número de exemplares arbóreos cujo corte
            foi autorizado; diferentes estágios sucessionais da vegetação a ser
            suprimida (inicial, médio e avançado) e mapa de áreas prioritárias
            para restauração da vegetação nativa do Estado de São Paulo.
          </p>
        </AccentPanelContent>
      </AccentPanel>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[0]} offset="2">
        <ImgBoxText>
          As ações compensatórias podem ser feitas por meio do <span
            class="bold">Plantios de Mudas Nativas</span
          > em áreas degradadas para efeito de recuperação ambiental ou restauração
          ecológica, ou também por meio da preservação de área florestal remanescente.
        </ImgBoxText>
      </ImgBox>
    </div>
  </article>
  <article>
    <div class="content">
      <div class="wrapper">
        <div class="row">
          <div class="item"><LargeImg img={imgText[1]} /></div>
          <div class="item"><LargeImg img={imgText[2]} /></div>
        </div>
      </div>
    </div>
  </article>
  <article class="content">
    <div class="wrapper">
      <p>
        A definição do tipo de compensação a ser realizada é parte do trabalho
        de consultoria ambiental e para que isso ocorra de forma adequada e com
        qualidade a <span class="accent">Civilsolo Ambiental</span> fornece:
      </p>

      <ul>
        <li>
          Análise técnica para mensurar o tipo de compensação ambiental, de
          acordo com o impacto e aplicação da legislação ambiental pertinente;
        </li>
        <li>
          Assessoria técnica para elaborar Termos de Compromisso Ambiental
          (TCAs) quando firmados com Prefeituras; Termos de Ajustamento de
          Conduta (TACs) quando firmados com Ministério Público e/ou Termos de
          Compromisso de Recuperação Ambiental (TCRAs) quando firmados com a
          CETESB;
        </li>
        <li>
          Elaboração de projetos de reflorestamento e de recomposição de Áreas
          de Preservação Permanente (APPs);
        </li>
        <li>
          Execução dos plantios compensatórios com espécies florestais nativas e
          condução da regeneração natural;
        </li>
        <li>
          Acompanhamento técnico dos plantios e ações exigidas nos TCAs, TACs e
          TCRAs com relatórios mensais sobre os plantios compensatórios e ações
          em desenvolvimento.
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <CollapsableSection>
        <CollapsableItem>
          <p>
            Quando a compensação se tratar de preservação de área remanescente
            no imóvel ou de terceiro (público ou privado) será necessária a
            apresentação da matrícula do imóvel da área indicada para a
            compensação; anuência do proprietário; caracterização do bioma e
            fisionomia da vegetação nativa; memorial descritivo com perímetro da
            área a ser destinada para compensação e planta do imóvel contendo o
            perímetro da área a ser preservada, georreferenciada em coordenadas
            geográficas.
          </p>
          <p>
            Poderão ser utilizadas para compensação áreas públicas e
            particulares, desde que não sejam alvo de obrigações judiciais ou
            administrativas estabelecidas em licenças, Termos de Compromisso
            Ambiental ou Termos de Ajustamento de Conduta firmados com órgãos
            ambientais competentes, bem como não sejam abrangidas por projetos
            de restauração ecológica executados com recursos públicos e mediante
            anuência do órgão gestor (no caso de área pública), e mediante
            anuência do proprietário, no caso de área particular, desde que
            comprovada a sua dominialidade.
          </p>
        </CollapsableItem>
      </CollapsableSection>
    </div>
    <div class="wrapper">
      <Card>
        Entenda as possibilidades de compensar os danos ocorridos ou previstos
        em seu terreno com a <span class="accent">Civilsolo Ambiental</span>!
        Entre em contato para esclarecer suas dúvidas e fazer um orçamento sem
        compromisso!
      </Card>
    </div>
  </article>
</section>

<style>
  .full__background {
    padding-block: 2rem;
    background-color: #237ad687;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .item {
    padding: 1rem;
  }
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
</style>
