---
import styles from "../styles/serviceContent.css";

import img from "/assets/empresa/1.png";
const quotation =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.";
const quotationSign = "&mdash; Renata Freire, Diretora da Civilsolo Ambiental";
---

<div class="c13 content">
  <h1 class="c1" id="h.n3v8nws0aljm"><span class="c4">A EMPRESA</span></h1>
  <p class="c0">
    <span class="c5">A Empresa </span><span class="c9 c10"
      >CIVILSOLO AMBIENTAL</span
    ><span class="c5 c10">&nbsp;</span><span class="c5"
      >&eacute; dirigida pela Engenheira Agr&ocirc;noma Renata Freire, formada
      pela ESALQ/USP, com atua&ccedil;&atilde;o h&aacute; mais de 30 anos na
      &aacute;rea ambiental e socioambiental nos biomas da Mata Atl&acirc;ntica
      e Amaz&ocirc;nia. A
    </span><span class="c9 c10">CIVILSOLO AMBIENTAL</span><span class="c5"
      >&nbsp;tem como diferencial o trabalho em rede, incluindo v&aacute;rios
      consultores associados, como engenheiros ambientais, bi&oacute;logos e
      engenheiros florestais. Dessa experi&ecirc;ncia profissional em parceria
      com a Empresa de Engenharia Geot&eacute;cnica (Civilsolo Sondagens e
      Funda&ccedil;&otilde;es) nasceu a
    </span><span class="c9 c10">CIVILSOLO AMBIENTAL</span><span class="c9"
      >&nbsp;</span
    ><span class="c5">em 2015</span><span class="c9">.</span>
  </p>
  <h2 class="c1" id="h.y2wygp4le4ep">
    <span class="c4">MISS&Atilde;O</span>
  </h2>
  <p class="c3" id="h.gjdgxs">
    <span class="c2"
      >Desenvolver solu&ccedil;&otilde;es inovadoras ambientais,
      compat&iacute;veis com ganhos econ&ocirc;micos, sociais e culturais para
      grupos, empresas, funda&ccedil;&otilde;es, governos, ONGs e sociedade em
      geral. &nbsp;
    </span>
  </p>
  <h2 class="c1" id="h.pkxw45vjrnij"><span class="c4">VALORES</span></h2>
  <p class="c3">
    <span class="c2"
      >Ser reconhecida no mercado como uma empresa de consultoria ambiental
      altamente confi&aacute;vel, e com grande desempenho t&eacute;cnico e
      celeridade na entrega dos servi&ccedil;os que executa.</span
    >
  </p>
  <h2 class="c1" id="h.boncv8o3q7gy">
    <span class="c4">PRINC&Iacute;PIOS</span>
  </h2>
  <ul class="c12 lst-kix_list_2-0 start">
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Vis&atilde;o sist&ecirc;mica com &ecirc;nfase na capacidade de
        recupera&ccedil;&atilde;o dos sistemas ecol&oacute;gicos e
        socioambientais;
      </span>
    </li>
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Profissionalismo, inova&ccedil;&atilde;o, &eacute;tica e
        transpar&ecirc;ncia;</span
      >
    </li>
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Interlocu&ccedil;&atilde;o com as diferentes institui&ccedil;&otilde;es
        ambientais p&uacute;blicas e privadas;</span
      >
    </li>
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Participa&ccedil;&atilde;o ativa dos diferentes atores sociais
        envolvidos;</span
      >
    </li>
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Valoriza&ccedil;&atilde;o do trabalho colaborativo e em rede;</span
      >
    </li>
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Respeito e atendimento &agrave; legisla&ccedil;&atilde;o ambiental;</span
      >
    </li>
    <li class="c8 li-bullet-0">
      <span class="c2"
        >Prote&ccedil;&atilde;o e confidencialidade das
        informa&ccedil;&otilde;es dos clientes.</span
      >
    </li>
  </ul>
  <figure class="c3 img__container">
    <img alt="" src={img} title="" />
    <figcaption class="caption">
      <blockquote class="quote">
        <p class="quote__start">❝</p>
        <p class="quote__content">{quotation}</p>
        <p class="quote__end">❞</p>
        <p class="quote__sign">{quotationSign}</p>
      </blockquote>
    </figcaption>
  </figure>
  <h2 class="c1" id="h.jjsp72qoyiv">
    <span class="c4">FORMA&Ccedil;&Atilde;O PROFISSIONAL </span>
  </h2>
  <p class="c0">
    <span class="c5"
      >Desde que me formei em engenharia agron&ocirc;mica pela ESALQ-USP em
      1990, me dedico &agrave; coordena&ccedil;&atilde;o e
      execu&ccedil;&atilde;o de projetos ambientais e socioambientais na
      Amaz&ocirc;nia e Mata Atl&acirc;ntica. A experi&ecirc;ncia intensa em
      campo, morando mais de 15 anos na Amaz&ocirc;nia, me impulsionou a buscar
      reflex&otilde;es te&oacute;ricas a partir do ingresso em cursos de
      p&oacute;s-gradua&ccedil;&atilde;o: especializa&ccedil;&atilde;o em
    </span><span class="c5 c7"
      >&ldquo;An&aacute;lises de Usos e Conserva&ccedil;&atilde;o de Recursos
      Naturais&rdquo;</span
    ><span class="c5">&nbsp;pela UNICAMP em 1999; mestrado em </span><span
      class="c5 c7">&ldquo;Ci&ecirc;ncias Florestais&rdquo;</span
    ><span class="c5">&nbsp;pela ESALQ-USP em 2002; e doutorado em </span><span
      class="c5 c7">&ldquo;Ambiente e Sociedade&rdquo;</span
    ><span class="c5"
      >&nbsp;pela UNICAMP em 2009. A partir de 2010, de volta para o Estado de
      S&atilde;o Paulo, senti necessidade de integrar o mundo rural e o urbano.
      Trabalhei como Diretora de Meio Ambiente da Prefeitura de Jundia&iacute; e
      fiz especializa&ccedil;&atilde;o em
    </span><span class="c5 c7"
      >&ldquo;Gerenciamento de &Aacute;reas Contaminadas&rdquo;
    </span><span class="c2"
      >pelo SENAC em 2015. Desde ent&atilde;o, sempre fa&ccedil;o cursos de
      atualiza&ccedil;&atilde;o referentes &agrave; legisla&ccedil;&atilde;o
      ambiental e inova&ccedil;&otilde;es tecnol&oacute;gicas dispon&iacute;veis
      no mercado.
    </span>
  </p>
  <p class="c0 c11"><span class="c2"></span></p>
  <p class="c6 signature--right"><span class="c2">Renata Freire</span></p>
</div>

<style>
  .img__container img {
    align-self: flex-start;
    aspect-ratio: 1;
    width: 50%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    margin-inline-end: 1rem;
    border-radius: 8px;
  }
  .img__container .caption {
    color: var(--content-text-color);
    font-weight: var(--content-text-weight);
    font-style: italic;
    max-width: 400px;
    margin-inline-start: 1rem;
  }
  .img__container .quote {
    position: relative;
  }
  .quote .quote__content,
  .quote .quote__sign {
    padding-inline: 1rem;
  }
  .quote p {
    margin: 0px;
  }
  .quote .quote__start {
    color: var(--first-color);
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  .quote .quote__end {
    text-align: end;
    color: var(--first-color);
    font-size: 2rem;
    margin-top: -1rem;
  }
  .quote .quote__sign {
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: end;
  }
  @media (max-width: 600px) {
    .main {
      margin-top: 0px;
    }
    .img__container {
      flex-direction: column;
      justify-content: center;
    }
    .img__container img {
      margin: 0 auto;
    }
    .img__container .quote {
      margin: 0 auto;
    }
  }
</style>
