---
import styles from "../styles/serviceContent.css";

import img from "/assets/empresa/1.jpg";
const quotation =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.";
const quotationSign = "&mdash; Renata Freire, Diretora da Civilsolo Ambiental";
---

<div class="c6 content">
  <h1 class="c1" id="h.n3v8nws0aljm"><span class="c4">A EMPRESA</span></h1>
  <p class="c8">
    <span class="c2">A Empresa </span><span class="c7 c16"
      >CIVILSOLO AMBIENTAL</span
    ><span class="c2 c16">&nbsp;</span><span class="c0"
      >&eacute; dirigida pela Engenheira Agr&ocirc;noma Renata Freire, formada
      pela ESALQ/USP, com atua&ccedil;&atilde;o h&aacute; mais de 30 anos na
      &aacute;rea ambiental e socioambiental nos biomas da Mata Atl&acirc;ntica
      e Amaz&ocirc;nia.
    </span>
  </p>
  <p class="c8 c14"><span class="c0"></span></p>
  <p class="c8">
    <span class="c2">A </span><span class="c7 c16">CIVILSOLO AMBIENTAL</span
    ><span class="c2"
      >&nbsp;tem como diferencial o trabalho em rede, incluindo v&aacute;rios
      consultores associados, como engenheiros ambientais, bi&oacute;logos e
      engenheiros florestais. Dessa experi&ecirc;ncia profissional em parceria
      com a Empresa de Engenharia Geot&eacute;cnica (Civilsolo Sondagens e
      Funda&ccedil;&otilde;es) nasceu a
    </span><span class="c7 c16">CIVILSOLO AMBIENTAL</span><span class="c7"
      >&nbsp;</span
    ><span class="c2">em 2015</span><span class="c7 c9">.</span>
  </p>
  <p class="c8 c14"><span class="c9 c7"></span></p>
  <h2 class="c8 c11" id="h.y2wygp4le4ep">
    <span class="c4">MISS&Atilde;O</span>
  </h2>
  <p class="c8" id="h.gjdgxs">
    <span class="c0"
      >Desenvolver solu&ccedil;&otilde;es inovadoras ambientais,
      compat&iacute;veis com ganhos econ&ocirc;micos, sociais e culturais para
      grupos, empresas, funda&ccedil;&otilde;es, governos, ONGs e sociedade em
      geral. &nbsp;
    </span>
  </p>
  <h2 class="c8 c11 c13" id="h.pkxw45vjrnij"><span class="c4"></span></h2>
  <h2 class="c8 c11" id="h.s3ddhdsfbhx5"><span class="c4">VALORES</span></h2>
  <p class="c8">
    <span class="c0"
      >Ser reconhecida no mercado como uma empresa de consultoria ambiental
      altamente confi&aacute;vel, e com grande desempenho t&eacute;cnico e
      celeridade na entrega dos servi&ccedil;os que executa.</span
    >
  </p>
  <h2 class="c1 c13" id="h.boncv8o3q7gy"><span class="c4"></span></h2>
  <h2 class="c1" id="h.8qxv65albaoy">
    <span class="c4">PRINC&Iacute;PIOS</span>
  </h2>
  <ul class="c12 lst-kix_list_2-0 start">
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Vis&atilde;o sist&ecirc;mica com &ecirc;nfase na capacidade de
        recupera&ccedil;&atilde;o dos sistemas ecol&oacute;gicos e
        socioambientais;
      </span>
    </li>
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Profissionalismo, inova&ccedil;&atilde;o, &eacute;tica e
        transpar&ecirc;ncia;</span
      >
    </li>
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Interlocu&ccedil;&atilde;o com as diferentes institui&ccedil;&otilde;es
        ambientais p&uacute;blicas e privadas;</span
      >
    </li>
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Participa&ccedil;&atilde;o ativa dos diferentes atores sociais
        envolvidos;</span
      >
    </li>
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Valoriza&ccedil;&atilde;o do trabalho colaborativo e em rede;</span
      >
    </li>
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Respeito e atendimento &agrave; legisla&ccedil;&atilde;o ambiental;</span
      >
    </li>
    <li class="c10 li-bullet-0">
      <span class="c0"
        >Prote&ccedil;&atilde;o e confidencialidade das
        informa&ccedil;&otilde;es dos clientes.</span
      >
    </li>
  </ul>

  <h2 class="c1" id="h.jjsp72qoyiv">
    <span class="c4">FORMA&Ccedil;&Atilde;O PROFISSIONAL </span>
  </h2>
  <div class="c3 img__container float--right">
    <img alt="" src={img} title="" />
  </div>
  <blockquote class="quote">
    <p class="quote__start">❝</p>
    <p class="quote__content">
      <span class="c2"
        >Desde que me formei em engenharia agron&ocirc;mica pela ESALQ-USP em
        1990, me dedico &agrave; coordena&ccedil;&atilde;o e
        execu&ccedil;&atilde;o de projetos ambientais e socioambientais na
        Amaz&ocirc;nia e Mata Atl&acirc;ntica. A experi&ecirc;ncia intensa em
        campo, morando mais de 15 anos na Amaz&ocirc;nia, me impulsionou a
        buscar reflex&otilde;es te&oacute;ricas a partir do ingresso em cursos
        de p&oacute;s-gradua&ccedil;&atilde;o: especializa&ccedil;&atilde;o em
      </span><span class="c2 c5"
        >&ldquo;An&aacute;lises de Usos e Conserva&ccedil;&atilde;o de Recursos
        Naturais&rdquo;</span
      ><span class="c2">&nbsp;pela UNICAMP em 1999; mestrado em </span><span
        class="c2 c5">&ldquo;Ci&ecirc;ncias Florestais&rdquo;</span
      ><span class="c2"
        >&nbsp;pela ESALQ-USP em 2002; e doutorado em
      </span><span class="c2 c5">&ldquo;Ambiente e Sociedade&rdquo;</span><span
        class="c2"
        >&nbsp;pela UNICAMP em 2009. A partir de 2010, de volta para o Estado de
        S&atilde;o Paulo, senti necessidade de integrar o mundo rural e o
        urbano. Trabalhei como Diretora de Meio Ambiente da Prefeitura de
        Jundia&iacute; e fiz especializa&ccedil;&atilde;o em
      </span><span class="c2 c5"
        >&ldquo;Gerenciamento de &Aacute;reas Contaminadas&rdquo;
      </span><span class="c0"
        >pelo SENAC em 2015. Desde ent&atilde;o, sempre fa&ccedil;o cursos de
        atualiza&ccedil;&atilde;o referentes &agrave; legisla&ccedil;&atilde;o
        ambiental e inova&ccedil;&otilde;es tecnol&oacute;gicas
        dispon&iacute;veis no mercado.
      </span>
    </p>
    <p class="quote__end">❞</p>
    <p class="quote__sign">
      <span class="c0"
        >&mdash; Renata Freire, Diretora da Civilsolo Ambiental</span
      >
    </p>
  </blockquote>
</div>

<style>
  .img__container {
    margin-inline: 1rem;
  }
  .img__container img {
    align-self: flex-start;
    aspect-ratio: 1;
    height: auto;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    margin-inline-end: 1rem;
    border-radius: 8px;
  }
  .img__container .caption {
    color: var(--content-text-color);
    font-weight: var(--content-text-weight);
    font-style: italic;
    max-width: 400px;
    margin-inline-start: 1rem;
  }
  .img__container .quote {
    position: relative;
  }

  .float--right {
    float: right;
    display: flow-root;
    margin-top: 3rem;
  }

  .quote {
    margin-bottom: 2rem;
  }

  .quote__content,
  .quote__sign {
    padding-inline: 1rem;
  }

  .quote p {
    margin: 0px;
  }
  .quote__start {
    color: var(--first-color);
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  .quote__end {
    text-align: end;
    color: var(--first-color);
    font-size: 2rem;
    margin-top: -1rem;
  }
  .quote__sign {
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: end;
  }
  @media (max-width: 600px) {
    .main {
      margin-top: 0px;
    }
    .img__container {
      flex-direction: column;
      justify-content: center;
    }
    .img__container img {
      margin: 0 auto;
    }
    .img__container .quote {
      margin: 0 auto;
    }
    .float--right {
      float: none;
    }
  }
</style>
