---
import styles from "../styles/serviceContent.css";
import DividerTitle from "../components/DividerTitle.astro";

import Card from "../components/Card.astro";

const { imgText } = Astro.props;
---

<section>
  <DividerTitle title={""} color={"--sixth-color"} />
  <article class="content">
    <div class="wrapper">
      <h1>LAUDOS DE COBERTURA VEGETAL</h1>
    </div>

    <div class="wrapper row">
      <div class="img__container">
        <img src={imgText[0]} alt="" />
      </div>
      <div class="item text__item">
        <p>
          Laudos de Cobertura Vegetal são realizados para empreendimentos que
          causam impactos sobre a vegetação nativa de um determinado terreno,
          loteamento ou condomínio residencial ou industrial e outros tipos de
          parcelamento do solo.
        </p>
        <p>
          São exigidos pelos órgãos ambientais competentes, como a CETESB no
          Estado de São Paulo, para fins de licenciamento ambiental e
          autorização de corte de vegetação.
        </p>
        <p>
          Os laudos são feitos com base em vistorias de campo, uso de imagens
          aéreas e de softwares de informações geográficas oficiais.
        </p>
      </div>
    </div>
    <div class="wrapper">
      <p>
        A <span class="accent">Civilsolo Ambiental</span> realiza as seguintes atividades
        para elaborar Laudos de Cobertura Vegetal, incluindo diagnósticos e ações
        propositivas:
      </p>
      <ul>
        <li>
          Levantamento de possíveis termos de compromisso firmados com órgãos
          ambientais competentes e com o judiciário, bem como autos de infração
          incidentes na área objeto de interesse;
        </li>
        <li>
          Levantamentos detalhados em campo e por meio de mapas e imagens
          (satélite e/ou de drone) para identificação do bioma, caracterização
          do uso atual e pretérito da propriedade, identificação das espécies
          vegetais presentes, dos fragmentos florestais e seus respectivos
          estágios sucessionais (iniciais, médios ou avançados);
        </li>
        <li>
          Identificação, caracterização, tipo de uso e ocupação existentes em
          Áreas de Preservação Permanente (APPs) e suas condições físicas e
          ambientais, dentro e fora dos limites da propriedade que possam gerar
          compromissos ambientais;
        </li>
        <li>
          Identificação e delimitação de áreas especialmente protegidas, como
          áreas verdes, reservas legais, unidades de conservação e zonas de
          amortecimento, áreas de proteção de mananciais, incidentes na
          propriedade e/ou no entorno, para efeito de cumprimento de legislação
          ambiental específica;
        </li>
        <li>
          Identificação e caracterização de árvores nativas isoladas, com a
          mensuração de atributos ambientais, como o diâmetro de altura do peito
          (DAP), altura e condições fitossanitárias;
        </li>
        <li>
          Elaboração da Planta Ambiental da situação atual e pretendida
          georreferenciada, com todas as informações planilhadas e
          sistematizadas sobre uso e ocupação atual e tributos ambientais da
          propriedade (diagnóstico), área proposta de intervenção/supressão e
          medidas de compensação ambiental, conforme legislação ambiental
          pertinente.
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <Card
        >A <span class="accent">Civilsolo Ambiental</span> possui profissionais experientes
        que realizam o reconhecimento e caracterização da vegetação com qualidade
        e competência para elaborar e assinar os Laudos de Cobertura Vegetal e assumir
        a responsabilidade técnica do serviço.
      </Card>
    </div>
  </article>
</section>

<style>
  .row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .img__container {
    margin-left: 2rem;
    justify-self: center;
  }
  .text__item {
    width: 60%;
  }
  .img__container img {
    max-height: 360px;
  }
  .float--right {
    float: right;
    display: flow-root;
  }
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .img__container {
      margin-bottom: 2rem;
    }
    .text__item {
      width: 100%;
    }
  }
</style>
