---
import styles from "../styles/serviceContent.css";

import img1 from "/assets/laudo/1.png";

import img3 from "/assets/laudo/3.png";
---

<div class="c7 content">
  <h1 class="c2" id="h.uvhl95lxna1z">
    <span class="c12">LAUDOS DE COBERTURA VEGETAL</span>
  </h1><p class="c9">
    <span class="c3 c1"
      >Laudos de Cobertura Vegetal s&atilde;o realizados para empreendimentos
      que causam impactos sobre a vegeta&ccedil;&atilde;o nativa de um
      determinado terreno, loteamento ou condom&iacute;nio residencial ou
      industrial e outros tipos de parcelamento do solo. S&atilde;o exigidos
      pelos &oacute;rg&atilde;os ambientais competentes, como a CETESB no Estado
      de S&atilde;o Paulo, para fins de licenciamento ambiental e
      autoriza&ccedil;&atilde;o de corte de vegeta&ccedil;&atilde;o, de acordo
      com a legisla&ccedil;&atilde;o atual vigente.
    </span>
  </p><p class="c9 c11"><span class="c3 c1"></span></p><p class="c9">
    <span class="c3 c1"
      >Os Laudos de Cobertura Vegetal s&atilde;o feitos com base em vistorias de
      campo e uso de imagens a&eacute;reas. As imagens s&atilde;o inseridas em
      programas espec&iacute;ficos de informa&ccedil;&otilde;es
      geogr&aacute;ficas para efeito de c&aacute;lculo do tamanho da &aacute;rea
      e dos diferentes &iacute;ndices de vegeta&ccedil;&atilde;o, que s&atilde;o
      utilizados para facilitar o trabalho de caracteriza&ccedil;&atilde;o em
      campo da vegeta&ccedil;&atilde;o.</span
    >
  </p><p class="c8">
    <span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 277.94px; height: 419.43px;"
      ><img alt="" src={img3} title="" /></span
    >
  </p><p class="c9">
    <span class="c1">A </span><span class="c14 c1"
      >Civilsolo Ambiental
    </span><span class="c1"
      >realiza as &nbsp;seguintes atividades para elaborar &nbsp;Laudos de
      Cobertura Vegetal, incluindo
    </span><span class="c1">diagn&oacute;sticos</span><span class="c3 c1"
      >&nbsp;e a&ccedil;&otilde;es propositivas:
    </span>
  </p><p class="c9 c11 c13"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0 start"
  >
    <li class="c9 c10 li-bullet-0">
      <span class="c3 c1"
        >Levantamento de poss&iacute;veis termos de compromisso firmados com
        &oacute;rg&atilde;os ambientais competentes e com o judici&aacute;rio,
        bem como autos de infra&ccedil;&atilde;o incidentes na &aacute;rea
        objeto de interesse;
      </span>
    </li>
  </ul><p class="c4"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c9 c10 li-bullet-0">
      <span class="c1"
        >Levantamentos detalhados em campo e &nbsp;por meio de mapas e imagens (</span
      ><span class="c1">sat&eacute;lite</span><span class="c3 c1"
        >&nbsp;e/ou de drone) para identifica&ccedil;&atilde;o do bioma,
        caracteriza&ccedil;&atilde;o do uso atual e pret&eacute;rito da
        propriedade, identifica&ccedil;&atilde;o das esp&eacute;cies vegetais
        presentes, dos fragmentos florestais e seus respectivos est&aacute;gios
        sucessionais (iniciais, m&eacute;dios ou avan&ccedil;ados);</span
      >
    </li>
  </ul><p class="c4"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c9 c10 li-bullet-0">
      <span class="c3 c1"
        >Identifica&ccedil;&atilde;o, caracteriza&ccedil;&atilde;o, tipo de uso
        e ocupa&ccedil;&atilde;o existentes em &Aacute;reas de
        Preserva&ccedil;&atilde;o Permanente (APPs) e suas
        condi&ccedil;&otilde;es f&iacute;sicas e ambientais, dentro e fora dos
        limites da propriedade que possam gerar compromissos ambientais;</span
      >
    </li>
  </ul><p class="c4"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c5 li-bullet-1">
      <span class="c3 c1"
        >Identifica&ccedil;&atilde;o e delimita&ccedil;&atilde;o de &aacute;reas
        especialmente protegidas, como &aacute;reas verdes , reservas legais,
        unidades de conserva&ccedil;&atilde;o e zonas de amortecimento,
        &aacute;reas de prote&ccedil;&atilde;o de mananciais, incidentes na
        propriedade e/ou no entorno, para efeito de cumprimento de
        legisla&ccedil;&atilde;o ambiental espec&iacute;fica;
      </span>
    </li>
  </ul><p class="c4"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c5 li-bullet-2">
      <span class="c1"
        >Identifica&ccedil;&atilde;o e caracteriza&ccedil;&atilde;o de
      </span><span class="c1">&aacute;rvores</span><span class="c1"
        >&nbsp;nativas
      </span><span class="c1">isoladas,</span><span class="c3 c1"
        >&nbsp;com a mensura&ccedil;&atilde;o de atributos ambientais, como o
        di&acirc;metro de altura do peito (DAP), altura e
        condi&ccedil;&otilde;es fitossanit&aacute;rias;</span
      >
    </li>
  </ul><p class="c4"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c9 c10 li-bullet-0">
      <span class="c1">Levantamento</span><span class="c1">&nbsp;da </span><span
        class="c1">legisla&ccedil;&atilde;o</span
      ><span class="c3 c1"
        >&nbsp;ambiental incidente na &aacute;rea com respectiva an&aacute;lise
        e aplica&ccedil;&atilde;o;</span
      >
    </li>
  </ul><p class="c4"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c9 c10 li-bullet-0">
      <span class="c1"
        >Elabora&ccedil;&atilde;o de mapas georreferenciados da
        vegeta&ccedil;&atilde;o, incluindo &aacute;rvores isoladas e
        &nbsp;fragmentos
      </span><span class="c1">florestais presentes na &aacute;rea;</span><span
        class="c3 c1">&nbsp;</span
      >
    </li>
  </ul><p class="c9 c11"><span class="c3 c1"></span></p><ul
    class="c0 lst-kix_xn3de5ocsxr8-0"
  >
    <li class="c9 c10 li-bullet-0">
      <span class="c1"
        >Elabora&ccedil;&atilde;o da Planta Ambiental da situa&ccedil;&atilde;o
        atual e pretendida georreferenciada, com todas as
        informa&ccedil;&otilde;es planilhadas e sistematizadas sobre uso e
        ocupa&ccedil;&atilde;o atual e tributos ambientais da propriedade
        (diagn&oacute;stico), &aacute;rea proposta de
        interven&ccedil;&atilde;o/supress&atilde;o e medidas de
        compensa&ccedil;&atilde;o ambiental, conforme legisla&ccedil;&atilde;o
        ambiental pertinente.</span
      >
    </li>
  </ul><p class="c9 c11"><span class="c3 c1"></span></p><p class="c9 c11">
    <span class="c1 c3"></span>
  </p><p class="c9">
    <span class="c1">A </span><span class="c1 c14"
      >Civilsolo Ambiental
    </span><span class="c1"
      >possui profissionais experientes que realizam o reconhecimento e
      caracteriza&ccedil;&atilde;o da vegeta&ccedil;&atilde;o com
    </span><span class="c1">qualidade</span><span class="c1"
      >&nbsp;e compet&ecirc;ncia para elaborar e assinar os Laudos de Cobertura
      Vegetal &nbsp;e assumir a responsabilidade t&eacute;cnica do
      servi&ccedil;o.
    </span>
  </p><p class="c8">
    <span
      style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 557.50px; height: 374.14px;"
      ><img alt="" src={img1} title="" /></span
    >
  </p>
</div>

<style>
  .content .img {
    text-align: center;
  }
</style>
