---
import styles from "../styles/serviceContent.css";

import AccentPanel from "../components/AccentPanel/AccentPanel.astro";
import AccentPanelTitle from "../components/AccentPanel/AccentPanelTitle.astro";
import AccentPanelContent from "../components/AccentPanel/AccentPanelContent.astro";

import ImgBox from "../components/ImgBox/ImgBox.astro";
import ImgBoxText from "../components/ImgBox/ImgBoxText.astro";

import Card from "../components/Card.astro";
import LargeImg from "../components/LargeImg.astro";

const { imgText } = Astro.props;
---

<section>
  <article class="content">
    <div class="wrapper">
      <h1>PROJETOS SOCIOAMBIENTAIS</h1>
      <p>
        A <span class="accent">Civilsolo Ambiental</span> elabora, executa e avalia
        diferentes projetos socioambientais envolvendo comunidades tradicionais (indígenas,
        caiçaras, ribeirinhas, quilombolas, comunidades rurais) por meio de roteiros
        metodológicos técnicas participativas, combinadas com uso de imagens de satélite
        e fotografias aéreas, levantamentos de campo, entrevistas, oficinas, indicadores
        de sustentabilidade, dentre outros.
      </p>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[0]} offset="2">
        <ImgBoxText>
          A implementação de Projetos Socioambientais visa melhorar os
          conhecimentos e habilidades das comunidades no manejo de recursos
          florestais e agroflorestais com ênfase na recuperação de áreas
          degradadas e proteção de áreas de floresta e demais ecossistemas
          naturais.
        </ImgBoxText>
      </ImgBox>
    </div>

    <div class="wrapper">
      <AccentPanel>
        <AccentPanelTitle>Resultados Esperados:</AccentPanelTitle>
        <AccentPanelContent
          ><p class="white">
            Os resultados esperados no médio e longo prazos são o fortalecimento
            institucional das populações locais para garantir o direito de uso
            dos recursos, o aumento de oportunidades de renda, conservação
            ambiental e valorização da cultura e modo de vida tradicional, em
            sintonia com o ideal do desenvolvimento sustentável.
          </p></AccentPanelContent
        >
      </AccentPanel>
    </div>
  </article>
  <article>
    <div class="content">
      <div class="row">
        <div class="item"><LargeImg img={imgText[1]} /></div>
        <div class="item"><LargeImg img={imgText[2]} /></div>
      </div>
    </div>
  </article>
  <article class="content">
    <div class="wrapper">
      <p>
        Abaixo seguem alguns serviços que a <span class="accent"
          >Civilsolo Ambiental</span
        > oferece:
      </p>

      <ul>
        <li>
          Elaboração de planos de gestão para assegurar ordenamento territorial
          e ambiental de áreas protegidas e ecossistemas florestais;
        </li>
        <li>Implantação de viveiros e práticas agroflorestais;</li>
        <li>
          Realização de palestras, cursos e treinamentos sobre temas ambientais
          de interesse;
        </li>
        <li>Elaboração de cartilhas e guias com temas socioambientais;</li>
        <li>
          Desenvolvimento de diagnósticos, mapeamentos e planejamentos e
          sistemas de monitoramento e avaliação por meio de métodos
          participativos;
        </li>
        <li>
          Fortalecimento e integração institucional das organizações e
          comunidades tradicionais.
        </li>
      </ul>
    </div>

    <div class="wrapper">
      <Card>
        Entenda as oportunidades que iniciativas e projetos socioambientais
        podem alcançar com apoio técnico da <span class="accent"
          >Civilsolo Ambiental</span
        >! Entre em contato para esclarecer suas dúvidas e fazer um orçamento
        sem compromisso!
      </Card>
    </div>
  </article>
</section>

<style>
  .full__background {
    padding-block: 2rem;
    background-color: #ffecb5;
  }
  .img {
    width: 100%;
    height: auto;
    max-width: 700px;
  }
  .img__wrapper {
    display: flex;
    justify-content: center;
  }
  .row {
    display: flex;
  }
  .item {
    padding: 1rem;
  }
</style>
