---
import styles from "../styles/serviceContent.css";

import AccentPanel from "../components/AccentPanel/AccentPanel.astro";
import AccentPanelTitle from "../components/AccentPanel/AccentPanelTitle.astro";
import AccentPanelContent from "../components/AccentPanel/AccentPanelContent.astro";

import ImgBox from "../components/ImgBox/ImgBox.astro";
import ImgBoxText from "../components/ImgBox/ImgBoxText.astro";

import CollapsableSection from "../components/CollapsableSection/CollapsableSection.astro";
import CollapsableItem from "../components/CollapsableSection/CollapsableItem.astro";
import SummaryItem from "../components/CollapsableSection/SummaryItem.astro";

import Card from "../components/Card.astro";

const { imgText } = Astro.props;
---

<section>
  <article class="content">
    <div class="wrapper">
      <h1>AUTORIZAÇÃO PARA SUPRESSÃO DE VEGETAÇÃO NATIVA</h1>
      <p>
        Todo tipo de atividade que envolva o corte da vegetação de um terreno
        (residencial, comercial, loteamento, indústria etc) necessita
        obrigatoriamente de uma <span class="accent"
          >Autorização para Supressão de Vegetação</span
        >. Esta autorização é um documento que certifica um planejamento de
        corte coerente com a legislação ambiental vigente, sendo emitida pelos
        órgãos ambientais competentes como as prefeituras municipais e a CETESB.
      </p>
    </div>

    <div class="wrapper">
      <AccentPanel>
        <AccentPanelTitle>Você sabia?</AccentPanelTitle>
        <AccentPanelContent>
          <p class="white">
            A remoção de qualquer tipo de vegetação sem a devida autorização é
            passível de multas e embargos!
          </p>
        </AccentPanelContent>
      </AccentPanel>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[0]} offset="2">
        <ImgBoxText>
          No caso de <span class="accent">corte de árvores isoladas</span>, o
          procedimento para conseguir a autorização é mais simples. Deve ser
          feito junto a prefeitura municipal, com apresentação um laudo técnico
          que especifica as características exigidas de cada árvore, como a
          identificação da espécie, diâmetro na altura do peito (DAP), volume de
          madeira, condições fitossanitárias e a localização georreferenciada de
          cada indivíduo arbóreo.
        </ImgBoxText>
      </ImgBox>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[1]} reverse offset="2">
        <ImgBoxText>
          Já para o corte de fragmentos florestais, em atividades de maior
          porte, como loteamentos e condomínios, a autorização é emitida pela
          CETESB e exige um procedimento mais detalhado. Recomenda-se a
          realização de um <span
            ><a href="/diagnostico-ambiental-preliminar" class="link"
              >Diagnóstico Ambiental Preliminar</a
            ></span
          > para estudo das possibilidades de corte da vegetação e de viabilização
          do empreendimento.
        </ImgBoxText>
      </ImgBox>
    </div>

    <div class="wrapper">
      <p>
        A porcentagem de área permitida para o corte depende da localização da
        área; do estágio de desenvolvimento da vegetação (inicial, médio ou
        avançado), da presença de Áreas de Preservação Permanente (APPs) e/ou de
        outras áreas especialmente protegidas. Essas informações serão
        levantadas e avaliadas criteriosamente no Diagnóstico Ambiental.
      </p>
    </div>
    <div class="wrapper">
      <p>
        Após o Diagnóstico, a <span class="accent"
          >Civilsolo Ambiental
        </span>elaborará um <span>
          <a href="/laudo-de-cobertura-vegetal" class="link">
            Laudo de Cobertura Vegetal
          </a>
        </span>, anexando outros documentos obrigatórios, para a obtenção da
        autorização de corte da vegetação a ser emitida pela CETESB. Os Laudos
        de Cobertura Vegetal são feitos com base em vistorias de campo e uso de
        imagens aéreas para caracterização criteriosa da vegetação presente. São
        utilizados softwares de informações geográficas oficiais para realização
        dos cálculos necessários para dimensionamento das áreas de vegetação,
        bem como a produção dos mapas exigidos pela CETESB.
      </p>
    </div>

    <div class="card__container">
      <ImgBox img={imgText[2]} offset="2">
        <ImgBoxText>
          É importante lembrar que mesmo um simples bosqueamento (retirada da
          vegetação do sub-bosque da floresta) ou a exploração florestal sob
          regime de manejo sustentável para retirada seletiva de exemplares
          comerciais (palmito, cipós, espécies ornamentais, espécies medicinais,
          toras de madeira, etc) não podem ser realizados sem a devida
          autorização para supressão de vegetação.
        </ImgBoxText>
      </ImgBox>
    </div>

    <div class="wrapper">
      <CollapsableSection>
        <CollapsableItem>
          <p>
            A <span class="accent">Civilsolo Ambiental</span> fornece todos os serviços
            necessários para obtenção da autorização de supressão de corte de vegetação,
            tanto para árvores isoladas, quanto para fragmentos florestais, sendo
            eles:
          </p>
          <ul>
            <li>
              Inserção de informações e documentações (dados do proprietário,
              matrícula do imóvel, certidão de uso do solo, IPTU ou ITR etc) no
              Portal de Licenciamento da CETESB para supressão de fragmentos
              florestais e nas Plataformas Municipais para supressão de árvores
              isoladas, desde que se encontrem fora de Áreas de Proteção
              Permanente (APPs);
            </li>
            <li>
              Diagnóstico Ambiental Preliminar: estudos sobre as possibilidades
              de supressão da vegetação, conforme a legislação ambiental
              aplicada;
            </li>
            <li>
              Laudo de Cobertura Vegetal para caracterização expedita indicando
              o bioma e fisionomia das vegetações existentes, incluindo
              fragmentos florestais nos diversos estágios sucessionais de
              desenvolvimento, observando a presença de espécies ameaçadas de
              extinção;
            </li>
            <li>
              Identificação em planta de todas as árvores nativas e exóticas
              isoladas, incluindo identificação botânica, altura, DAP, condição
              fitossanitária, bem como a localização georreferenciada de cada
              indivíduo arbóreo;
            </li>
            <li>
              Estratégias e técnicas de manejo para a eliminação e minimização
              do impacto ambiental e medidas de mitigação e compensação
              ambiental, quando necessárias.
            </li>
          </ul>
        </CollapsableItem>
      </CollapsableSection>
    </div>

    <div class="wrapper">
      <Card>
        A <span class="accent">Civilsolo Ambiental</span> realiza esses serviços
        com todos os recursos profissionais e tecnológicos disponíveis para proporcionar
        soluções viáveis aos seus clientes e, assim, evitar multas, embargos e irregularidades
        junto aos órgãos ambientais competentes. Entre em contato para esclarecer
        suas dúvidas e fazer um orçamento sem compromisso!</Card
      >
    </div>
  </article>
</section>

<style>
  .link {
    font-weight: bold;
  }
  .link:hover {
    color: var(--sixth-color);
  }
</style>
