---
import logo from "/assets/logo_civilsolo.png";
---

<div class="item">
  <p class="white">Para serviços de engenharia geotécnica acesse:</p>
  <a
    href="https://www.civilsolo.com.br"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={logo} alt="" width="185" height="43" />
  </a>
</div>

<style>
  .item {
    /* margin-top: 6rem; */
  }
  img {
    height: auto;
    max-width: 200px;
    padding: 0.4rem;
  }
  svg {
    width: 80%;
    max-width: 400px;
    height: auto;
  }
  div {
    max-width: 500px;
  }
  p {
    padding-inline: 0.4rem;
    font-weight: 200;
    font-size: 0.9rem;
  }
  h2 {
    color: var(--footer-logo-text-color);
    padding-inline: 0.4rem;
  }
  @media (max-width: 600px) {
    div {
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      max-width: 200px;
    }
    svg {
      max-width: 300px;
    }
    h2 {
      text-align: center;
    }
  }
</style>
