---

---

<div>
    <img
        class="footer__logo"
        src="/assets/logo_cs_amiental.png"
        alt=""
        />
    <h2 class="footer__logo--text">Lorem ipsum dolor sit amet.</h2>
</div>
<style>
    h2 {
        color: var(--nice-grey);
        padding-inline: 0.4rem;
    }
    @media (max-width: 600px) {
        div {
            margin-bottom: 1rem;
        }
        img {
            width: 80%%;
        }
        h2 {
            text-align: center;
        }
    }
</style>