---
---

<div>
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 866.54669 278.07999"
    height="278.07999"
    width="866.54669"
    xml:space="preserve"
    id="svg2"
    version="1.1"
    ><defs id="defs6"></defs><g
      transform="matrix(1.3333333,0,0,-1.3333333,0,278.08)"
      id="g10"
      ><g transform="scale(0.1)" id="g12"
        ><path
          id="path14"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 1069.5,887.738 c 109.88,113.622 109.65,293.992 -0.51,407.352 -107.08,-114.76 -106.849,-292.87 0.51,-407.352"
        ></path><path
          id="path16"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 1068.99,1295.09 v 483.05 h 402.3 v -475.2 c -114.19,106.53 -292.35,103.05 -402.3,-7.85"
        ></path><path
          id="path18"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="M 307.492,613.238 V 1778.14 h 431.031 l 0.004,-423.87 C 594.184,1284.73 533.535,1111.36 603.066,967.02 672.598,822.68 845.969,762.039 990.301,831.551 c 29.369,14.148 56.139,33.14 79.199,56.179 110.02,-110.429 287.81,-113.679 401.79,-7.32 V 613.238 H 307.492"
        ></path><path
          id="path20"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5883.05,791.102 c 26.34,144.007 162.92,241.168 308.44,219.458 -28.71,-142.501 -163.58,-238.451 -308.44,-219.458"
        ></path><path
          id="path22"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 2534.83,467.551 -80.44,185.48 -79.83,-185.48 z m 26.21,-61.821 h -213.29 l -42.06,-98.191 h -81.65 L 2416,731.82 h 78 l 192.57,-424.281 h -82.88 l -42.65,98.191 v 0"
        ></path><path
          id="path24"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 3205.13,634.852 c 41.04,0 73.54,-11.821 97.51,-35.461 23.96,-23.641 35.95,-59.102 35.95,-106.379 V 307.539 h -76.17 v 175.77 c 0,28.293 -6.3,49.613 -18.9,63.953 -12.59,14.34 -30.67,21.519 -54.23,21.519 -25.6,0 -46.12,-8.39 -61.55,-25.16 -15.44,-16.762 -23.16,-40.711 -23.16,-71.82 V 307.539 h -76.18 v 175.77 c 0,28.293 -6.29,49.613 -18.89,63.953 -12.59,14.34 -30.67,21.519 -54.24,21.519 -26,0 -46.61,-8.293 -61.85,-24.851 -15.23,-16.571 -22.85,-40.61 -22.85,-72.129 V 307.539 h -76.18 v 323.672 h 72.52 v -41.223 c 12.19,14.551 27.43,25.66 45.71,33.34 18.28,7.684 38.59,11.524 60.94,11.524 24.37,0 46.01,-4.551 64.9,-13.641 18.89,-9.09 33.82,-22.531 44.79,-40.313 13.41,16.973 30.67,30.211 51.8,39.704 21.13,9.5 44.49,14.25 70.08,14.25"
        ></path><path
          id="path26"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 3668.84,368.148 c 28.04,0 51.09,9.301 69.17,27.883 18.08,18.59 27.12,43.039 27.12,73.348 0,30.301 -9.04,54.75 -27.12,73.332 -18.08,18.59 -41.13,27.891 -69.17,27.891 -18.28,0 -34.73,-4.141 -49.36,-12.43 -14.62,-8.281 -26.2,-20.102 -34.73,-35.461 -8.53,-15.352 -12.8,-33.133 -12.8,-53.332 0,-20.207 4.27,-37.988 12.8,-53.34 8.53,-15.359 20.11,-27.18 34.73,-35.461 14.63,-8.289 31.08,-12.43 49.36,-12.43 z m 8.53,266.704 c 31.69,0 60.03,-6.883 85.01,-20.614 24.99,-13.738 44.6,-33.136 58.81,-58.187 14.22,-25.051 21.33,-53.942 21.33,-86.672 0,-32.738 -7.11,-61.731 -21.33,-86.988 -14.21,-25.25 -33.82,-44.75 -58.81,-58.493 -24.98,-13.738 -53.32,-20.609 -85.01,-20.609 -22.34,0 -42.76,3.84 -61.24,11.52 -18.48,7.679 -34.02,19.191 -46.62,34.55 v -41.82 h -72.52 v 449.742 h 76.18 V 591.809 c 13,14.152 28.34,24.851 46.01,32.132 17.67,7.27 37.07,10.911 58.19,10.911 v 0"
        ></path><path
          id="path28"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4014.33,684.551 c -13.82,0 -25.39,4.34 -34.73,13.027 -9.35,8.692 -14.02,19.5 -14.02,32.434 0,12.929 4.67,23.738 14.02,32.429 9.34,8.68 20.91,13.028 34.73,13.028 13.81,0 25.39,-4.141 34.73,-12.43 9.35,-8.277 14.02,-18.687 14.02,-31.219 0,-13.332 -4.57,-24.539 -13.71,-33.64 -9.14,-9.09 -20.82,-13.629 -35.04,-13.629 z m -38.4,-53.34 h 76.18 V 307.539 h -76.18 v 323.672 0"
        ></path><path
          id="path30"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4354.33,574.23 c -24.37,0 -44.99,-7.171 -61.85,-21.511 -16.86,-14.348 -27.12,-33.438 -30.78,-57.278 h 184.65 c -3.25,23.43 -13.2,42.43 -29.86,56.969 -16.66,14.551 -37.38,21.82 -62.16,21.82 z m 164.54,-106.679 c 0,-5.25 -0.4,-12.731 -1.22,-22.422 h -255.34 c 4.47,-23.84 16.15,-42.731 35.04,-56.68 18.89,-13.937 42.35,-20.91 70.39,-20.91 35.75,0 65.2,11.723 88.36,35.16 l 40.83,-46.668 c -14.62,-17.383 -33.11,-30.511 -55.45,-39.402 -22.35,-8.891 -47.54,-13.34 -75.57,-13.34 -35.75,0 -67.24,7.082 -94.46,21.223 -27.22,14.136 -48.24,33.84 -63.07,59.097 -14.83,25.25 -22.24,53.84 -22.24,85.77 0,31.512 7.21,59.902 21.63,85.16 14.42,25.25 34.43,44.949 60.03,59.09 25.59,14.141 54.43,21.223 86.53,21.223 31.69,0 60.03,-6.973 85.02,-20.911 24.98,-13.953 44.48,-33.543 58.5,-58.8 14.01,-25.25 21.02,-54.45 21.02,-87.59 v 0"
        ></path><path
          id="path32"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4837.54,634.852 c 41.03,0 73.95,-11.922 98.73,-35.774 24.78,-23.84 37.17,-59.187 37.17,-106.066 V 307.539 h -76.17 v 175.77 c 0,28.293 -6.71,49.613 -20.12,63.953 -13.4,14.34 -32.5,21.519 -57.28,21.519 -28.03,0 -50.17,-8.39 -66.42,-25.16 -16.25,-16.762 -24.38,-40.91 -24.38,-72.43 V 307.539 h -76.18 v 323.672 h 72.52 v -41.832 c 12.6,14.961 28.44,26.269 47.54,33.949 19.09,7.684 40.63,11.524 64.59,11.524"
        ></path><path
          id="path34"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5326.85,325.109 c -8.94,-7.269 -19.8,-12.718 -32.6,-16.359 -12.8,-3.641 -26.31,-5.461 -40.53,-5.461 -35.75,0 -63.38,9.301 -82.88,27.891 -19.5,18.59 -29.25,45.66 -29.25,81.218 v 155.774 h -53.63 v 60.609 h 53.63 v 73.949 h 76.18 v -73.949 h 87.14 v -60.609 h -87.14 V 414.219 c 0,-15.758 3.85,-27.778 11.57,-36.071 7.72,-8.277 18.9,-12.418 33.52,-12.418 17.07,0 31.29,4.442 42.66,13.329 l 21.33,-53.95"
        ></path><path
          id="path36"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5564.47,358.449 c 19.1,0 36.06,4.352 50.89,13.031 14.83,8.692 25.29,21.122 31.38,37.282 v 37.578 h -78.61 c -43.88,0 -65.81,-14.352 -65.81,-43.031 0,-13.739 5.48,-24.649 16.45,-32.731 10.97,-8.09 26.2,-12.129 45.7,-12.129 z m 10.36,276.403 c 47.94,0 84.61,-11.422 110,-34.25 25.39,-22.832 38.09,-57.282 38.09,-103.352 V 307.539 H 5651 v 39.402 c -9.34,-14.152 -22.64,-24.961 -39.91,-32.429 -17.26,-7.481 -38.09,-11.223 -62.46,-11.223 -24.38,0 -45.71,4.152 -63.99,12.43 -18.28,8.281 -32.4,19.801 -42.36,34.551 -9.95,14.75 -14.92,31.421 -14.92,50.011 0,29.09 10.87,52.43 32.6,70 21.73,17.578 55.96,26.367 102.68,26.367 h 84.1 v 4.852 c 0,22.629 -6.8,40 -20.41,52.121 -13.61,12.129 -33.83,18.188 -60.64,18.188 -18.28,0 -36.26,-2.829 -53.93,-8.489 -17.67,-5.648 -32.6,-13.531 -44.79,-23.64 l -29.86,55.16 c 17.06,12.93 37.58,22.832 61.55,29.699 23.97,6.871 49.36,10.313 76.17,10.313 v 0"
        ></path><path
          id="path38"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5881.32,757.281 h 76.17 V 307.539 h -76.17 v 449.742"
        ></path><path
          id="path40"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5883.05,791.102 c 26.34,144.007 162.91,241.168 308.44,219.458 -28.72,-142.501 -163.58,-238.451 -308.44,-219.458"
        ></path><path
          id="path42"
          style="fill:#5ec460;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5831.83,867.891 c 9.95,-22.282 23,-43.52 39.17,-63.082 4.98,22.269 12.47,43.371 22.12,63.082 z m 126.72,135.649 c -5.33,59.91 -30.65,118.39 -75.96,164.78 -43.93,-46.83 -68.44,-105.04 -73.59,-164.59 13.37,-1.23 26.35,-1.45 35.06,-1.45 h 81.78 c 8.17,0 20.16,0.19 32.71,1.26 z m -0.11,-49.29 c 1.07,11.551 1.41,23.16 1,34.738 -10.07,-0.84 -21.26,-1.269 -33.6,-1.269 h -81.78 c -13.26,0 -25.24,0.492 -35.93,1.453 -1.2,-36.121 4.7,-72.442 17.7,-106.723 h 74.96 c 15.32,27.16 34.88,51.34 57.65,71.801 v 0"
        ></path><path
          id="path44"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 5844.06,987.719 h 81.78 c 45.49,0 75.55,5.75 90.49,17.081 14.95,11.34 22.34,32.52 22.34,63.55 v 59.62 c 0,31.04 -7.39,52.23 -22.34,63.55 -14.94,11.34 -45,17.08 -90.49,17.08 h -82.27 c -46.48,0 -76.86,-5.74 -91.15,-17.24 -14.45,-11.49 -21.67,-33.34 -21.67,-65.69 v -58.46 c 0,-30.39 7.55,-51.24 22.82,-62.57 15.11,-11.339 45.33,-16.921 90.49,-16.921 z m -34.81,-105.27 c -49.1,0 -85.07,2.301 -107.9,6.742 -22.83,4.43 -41.55,11.989 -55.83,22.661 -16.26,11.988 -27.93,27.918 -34.99,47.457 -7.22,19.55 -10.83,45.331 -10.83,77.681 v 114.79 c 0,35.31 3.61,63.23 10.83,83.76 7.06,20.52 18.73,36.78 34.99,48.94 14.12,10.51 33,18.06 56.49,22.66 23.48,4.43 58.95,6.73 106.74,6.73 h 151.41 c 47.79,0 83.6,-2.3 107.24,-6.73 23.65,-4.6 42.54,-12.15 56.5,-22.66 15.6,-12 27.1,-28.09 34.32,-48.61 7.23,-20.53 10.84,-46.98 10.84,-78.99 v -117.43 c 0,-4.05 -0.06,-8.02 -0.17,-11.89 -111.42,6.99 -215.09,-51.208 -268.09,-145.111 h -91.55 z m -531.27,106.91 h 280.34 V 887.551 h -408.93 v 421.229 h 128.59 V 989.359 Z m -539.47,-1.64 h 81.78 c 45.49,0 75.54,5.75 90.49,17.081 14.94,11.34 22.33,32.52 22.33,63.55 v 59.62 c 0,31.04 -7.39,52.23 -22.33,63.55 -14.95,11.34 -45,17.08 -90.49,17.08 h -82.28 c -46.47,0 -76.85,-5.74 -91.14,-17.24 -14.45,-11.49 -21.68,-33.34 -21.68,-65.69 v -58.46 c 0,-30.39 7.55,-51.24 22.83,-62.57 15.11,-11.339 45.33,-16.921 90.49,-16.921 z m -34.81,-105.27 c -49.11,0 -85.08,2.301 -107.9,6.742 -22.83,4.43 -41.55,11.989 -55.84,22.661 -16.26,11.988 -27.92,27.918 -34.98,47.457 -7.23,19.55 -10.84,45.331 -10.84,77.681 v 114.79 c 0,35.31 3.61,63.23 10.84,83.76 7.06,20.52 18.72,36.78 34.98,48.94 14.12,10.51 33.01,18.06 56.49,22.66 23.49,4.43 58.96,6.73 106.75,6.73 h 151.41 c 47.79,0 83.59,-2.3 107.24,-6.73 23.64,-4.6 42.54,-12.15 56.49,-22.66 15.61,-12 27.1,-28.09 34.33,-48.61 7.22,-20.53 10.84,-46.98 10.84,-78.99 v -117.43 c 0,-32.35 -3.62,-58.79 -10.84,-78.989 -7.23,-20.359 -18.72,-36.621 -34.33,-48.609 -14.12,-10.672 -32.85,-18.231 -56,-22.661 -23.16,-4.441 -59.12,-6.742 -107.73,-6.742 H 4703.7 Z m -798.79,145.181 127.1,0.17 v -7.56 c 0,-15.93 3.94,-26.599 11.66,-32.029 7.72,-5.57 23.82,-8.371 48.45,-8.371 h 161.6 c 15.93,0 27.26,2.629 33.99,8.039 6.73,5.422 10.18,14.301 10.18,26.611 0,12.64 -3.94,21.84 -11.66,27.27 -7.88,5.41 -24.8,9.19 -50.58,11 l -201.99,4.6 c -50.58,1.47 -84.75,10.99 -102.48,28.74 -17.9,17.73 -26.77,49.91 -26.77,96.72 0,24.14 2.3,44.18 7.06,59.78 4.77,15.6 12.32,28.74 22.67,39.08 12.15,11.67 28.08,19.87 47.95,24.8 19.87,4.93 52.06,7.39 96.73,7.39 h 196.41 c 48.61,0 83.59,-8.87 105.1,-26.6 21.35,-17.74 32.03,-46.48 32.03,-86.22 0,-2.8 0,-5.58 0,-8.54 -0.17,-3.12 -0.49,-8.05 -1.15,-14.78 h -123.83 v 1.81 c 0,13.95 -3.45,24.3 -10.51,31.36 -7.06,7.06 -17.73,10.51 -31.86,10.51 h -148.29 c -24.8,0 -41.06,-2.45 -48.94,-7.38 -7.88,-4.94 -11.83,-13.48 -11.83,-25.79 0,-11.99 3.62,-20.69 10.85,-26.11 7.06,-5.42 20.19,-8.86 39.4,-10.35 l 211.69,-3.45 c 48.28,-1.31 82.28,-12.15 101.98,-32.51 19.71,-20.37 29.57,-55.18 29.57,-104.45 0,-29.229 -3.62,-51.901 -10.84,-67.819 -7.39,-15.93 -19.55,-29.723 -36.79,-41.063 -11.33,-7.058 -26.6,-12.308 -45.98,-15.429 -19.55,-3.129 -47.63,-4.61 -84.41,-4.61 h -171.45 c -70.29,0 -117.26,7.879 -141.07,23.653 -23.81,15.769 -35.64,45.16 -35.64,88.027 0,2.461 0.17,6.731 0.49,12.481 0.17,5.75 0.66,12.65 1.16,21.02 z m -325.66,-38.271 h 280.33 V 887.551 h -408.92 v 421.229 h 128.59 V 989.359 Z M 3351.14,887.551 h -128.75 v 421.229 h 128.75 V 887.551 Z m -479.2,118.729 168,302.5 h 136.64 L 2951.92,887.551 h -155.85 l -222.69,421.229 h 140.42 l 158.14,-302.5 z M 2519.85,887.551 h -128.76 v 421.229 h 128.76 V 887.551 Z M 2180.4,1156.88 v 4.26 c 0,16.42 -5.42,28.42 -16.26,36.14 -10.84,7.54 -28.08,11.32 -51.57,11.32 H 2009.6 c -44.17,0 -72.42,-5.25 -85.06,-15.92 -12.65,-10.68 -18.89,-33.02 -18.89,-67.01 v -58.46 c 0,-30.39 7.06,-51.24 21.02,-62.57 13.96,-11.339 41.55,-16.921 82.93,-16.921 h 74.56 c 40.89,0 67.83,4.109 80.64,12.321 12.64,8.21 19.05,23.49 19.05,45.65 v 4.44 h 130.39 c 0,-0.49 0.16,-1.48 0.33,-2.96 0.49,-12.32 0.82,-21.51 0.82,-27.59 0,-26.932 -3.45,-49.1 -10.19,-66.67 -6.73,-17.57 -17.41,-31.539 -32.02,-42.211 -13.79,-10.179 -32.19,-17.41 -55.01,-21.668 -22.83,-4.441 -56.5,-6.582 -100.84,-6.582 h -143.7 c -44,0 -76.36,2.301 -97.05,7.063 -20.69,4.769 -38.43,12.648 -53.21,23.976 -16.91,13.473 -29.23,29.891 -36.95,49.434 -7.72,19.547 -11.66,44.178 -11.66,74.068 v 114.79 c 0,60.27 14.29,102.48 43.03,126.29 28.74,23.82 80.63,35.8 155.84,35.8 h 143.7 c 46.15,0 80.31,-2.14 102.15,-6.24 21.84,-4.11 39.09,-11.17 51.73,-20.86 13.3,-10.34 23.16,-23.97 29.56,-41.22 6.41,-17.24 9.52,-38.92 9.52,-64.87 0,-6.24 0,-11 -0.16,-14.29 -0.16,-3.44 -0.32,-6.56 -0.82,-9.51 H 2180.4 v 0"
        ></path></g
      ></g
    ></svg
  >
  <h3 class="footer__logo--text">
    Soluções para você ficar de bem com a natureza!
  </h3>
</div>

<style>
  svg {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  div {
    max-width: 500px;
  }
  h3 {
    color: var(--footer-logo-text-color);
    padding-inline: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
  }
  @media (max-width: 800px) {
    svg {
      max-width: 250px;
    }
  }
  @media (max-width: 600px) {
    div {
      margin-bottom: 1rem;
    }
    svg {
      max-width: 300px;
    }
    h2 {
      text-align: center;
    }
  }
</style>
