---
import FooterContactData from "./FooterContactData.astro";
---

<div>
  <h3>Contato</h3>
  <FooterContactData />
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  h3 {
    color: var(--footer-nav-color);
    margin-bottom: 0.4rem;
  }
  .contact__item {
    display: flex;
    padding: 0.5em 0;
  }
  p {
    color: var(--footer-text-color);
    font-weight: 300;
  }
  .contact__text__container {
    padding-inline: 0.5rem;
  }
  .contact__text__container p:first-child {
    font-weight: bold;
  }
  .svg__container svg {
    height: 36px;
    aspect-ratio: 1;
  }
  svg path {
    fill: var(--nice-gray);
  }
</style>
