---
---

<div>
  <svg
    viewBox="0 0 650.14667 208.64"
    preserveAspectRatio="xMaxYMid meet"
    id="svg2"
    version="1.1"
    ><defs id="defs6"></defs><g
      transform="matrix(1.3333333,0,0,-1.3333333,0,208.64)"
      id="g10"
      ><g transform="scale(0.1)" id="g12"
        ><path
          id="path14"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 802.414,666.043 c 82.441,85.246 82.27,220.57 -0.383,305.617 -80.336,-86.094 -80.168,-219.722 0.383,-305.617"
        ></path><path
          id="path16"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 802.031,971.66 v 362.43 H 1103.86 V 977.551 c -85.67,79.929 -219.333,77.319 -301.829,-5.891"
        ></path><path
          id="path18"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 230.703,460.102 v 873.988 h 323.391 l 0.004,-318.03 C 445.801,963.895 400.297,833.82 452.465,725.52 504.629,617.23 634.707,571.734 742.996,623.887 c 22.035,10.613 42.117,24.863 59.414,42.152 82.551,-82.855 215.94,-85.297 301.45,-5.5 V 460.102 H 230.703"
        ></path><path
          id="path20"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4413.88,593.539 c 19.76,108.043 122.23,180.938 231.42,164.652 -21.55,-106.914 -122.73,-178.906 -231.42,-164.652"
        ></path><path
          id="path22"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 1901.81,350.789 -60.35,139.16 -59.9,-139.16 z m 19.66,-46.391 H 1761.45 L 1729.9,230.73 h -61.27 l 144.02,318.329 h 58.53 L 2015.66,230.73 h -62.18 l -32.01,73.668 v 0"
        ></path><path
          id="path24"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 2404.72,476.301 c 30.79,0 55.17,-8.86 73.15,-26.602 17.99,-17.73 26.98,-44.34 26.98,-79.808 V 230.73 h -57.15 v 131.879 c 0,21.231 -4.73,37.219 -14.18,47.981 -9.45,10.762 -23.01,16.148 -40.69,16.148 -19.2,0 -34.6,-6.297 -46.18,-18.879 -11.58,-12.578 -17.37,-30.539 -17.37,-53.89 V 230.73 h -57.16 v 131.879 c 0,21.231 -4.72,37.219 -14.17,47.981 -9.45,10.762 -23.01,16.148 -40.69,16.148 -19.51,0 -34.98,-6.218 -46.41,-18.648 -11.43,-12.43 -17.15,-30.469 -17.15,-54.121 V 230.73 h -57.15 v 242.848 h 54.41 v -30.93 c 9.14,10.911 20.58,19.25 34.29,25.024 13.72,5.758 28.96,8.629 45.72,8.629 18.29,0 34.52,-3.41 48.7,-10.231 14.17,-6.82 25.37,-16.898 33.61,-30.242 10.05,12.731 23.01,22.66 38.86,29.793 15.85,7.117 33.37,10.68 52.58,10.68"
        ></path><path
          id="path26"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 2752.62,276.211 c 21.04,0 38.33,6.969 51.9,20.918 13.57,13.941 20.35,32.293 20.35,55.031 0,22.731 -6.78,41.078 -20.35,55.02 -13.57,13.949 -30.86,20.922 -51.9,20.922 -13.71,0 -26.05,-3.114 -37.03,-9.321 -10.97,-6.222 -19.66,-15.09 -26.06,-26.609 -6.4,-11.524 -9.6,-24.863 -9.6,-40.012 0,-15.16 3.2,-28.5 9.6,-40.019 6.4,-11.52 15.09,-20.391 26.06,-26.61 10.98,-6.211 23.32,-9.32 37.03,-9.32 z m 6.41,200.09 c 23.77,0 45.03,-5.153 63.78,-15.461 18.75,-10.301 33.45,-24.86 44.12,-43.66 10.67,-18.789 16,-40.469 16,-65.02 0,-24.558 -5.33,-46.308 -16,-65.262 -10.67,-18.949 -25.37,-33.578 -44.12,-43.886 -18.75,-10.313 -40.01,-15.461 -63.78,-15.461 -16.76,0 -32.08,2.879 -45.95,8.64 -13.87,5.758 -25.53,14.399 -34.98,25.918 V 230.73 h -54.41 v 337.434 h 57.15 V 444.02 c 9.76,10.609 21.27,18.64 34.52,24.101 13.26,5.457 27.82,8.18 43.67,8.18 v 0"
        ></path><path
          id="path28"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 3011.83,513.59 c -10.36,0 -19.04,3.262 -26.06,9.781 -7.01,6.52 -10.51,14.629 -10.51,24.328 0,9.699 3.5,17.813 10.51,24.332 7.02,6.516 15.7,9.778 26.06,9.778 10.37,0 19.06,-3.11 26.06,-9.325 7.02,-6.214 10.52,-14.023 10.52,-23.425 0,-10 -3.43,-18.411 -10.28,-25.239 -6.87,-6.82 -15.63,-10.23 -26.3,-10.23 z m -28.8,-40.012 h 57.15 V 230.73 h -57.15 v 242.848 0"
        ></path><path
          id="path30"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 3266.93,430.828 c -18.29,0 -33.76,-5.387 -46.41,-16.148 -12.65,-10.758 -20.35,-25.078 -23.09,-42.969 h 138.54 c -2.44,17.578 -9.91,31.828 -22.41,42.75 -12.49,10.91 -28.04,16.367 -46.63,16.367 z m 123.45,-80.039 c 0,-3.937 -0.3,-9.551 -0.92,-16.828 h -191.57 c 3.35,-17.883 12.11,-32.063 26.29,-42.52 14.17,-10.461 31.77,-15.691 52.81,-15.691 26.82,0 48.92,8.801 66.29,26.379 l 30.64,-35.02 c -10.98,-13.031 -24.85,-22.89 -41.61,-29.558 -16.76,-6.672 -35.66,-10 -56.7,-10 -26.82,0 -50.44,5.308 -70.86,15.918 -20.43,10.609 -36.2,25.39 -47.33,44.34 -11.12,18.941 -16.68,40.39 -16.68,64.351 0,23.641 5.41,44.942 16.23,63.891 10.82,18.949 25.83,33.73 45.03,44.34 19.21,10.609 40.85,15.91 64.93,15.91 23.77,0 45.03,-5.223 63.78,-15.68 18.75,-10.473 33.38,-25.172 43.89,-44.121 10.52,-18.949 15.78,-40.852 15.78,-65.711 v 0"
        ></path><path
          id="path32"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 3629.47,476.301 c 30.78,0 55.48,-8.942 74.07,-26.832 18.59,-17.891 27.89,-44.41 27.89,-79.578 V 230.73 h -57.15 v 131.879 c 0,21.231 -5.04,37.219 -15.09,47.981 -10.06,10.762 -24.39,16.148 -42.98,16.148 -21.03,0 -37.65,-6.297 -49.84,-18.879 -12.19,-12.578 -18.29,-30.687 -18.29,-54.339 V 230.73 h -57.15 v 242.848 h 54.41 v -31.379 c 9.45,11.211 21.34,19.699 35.66,25.473 14.33,5.758 30.49,8.629 48.47,8.629"
        ></path><path
          id="path34"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 3996.58,243.922 c -6.71,-5.461 -14.86,-9.551 -24.46,-12.281 -9.6,-2.731 -19.74,-4.09 -30.41,-4.09 -26.82,0 -47.54,6.969 -62.18,20.918 -14.63,13.949 -21.95,34.261 -21.95,60.941 v 116.871 h -40.23 v 45.481 h 40.23 v 55.476 h 57.16 v -55.476 h 65.38 v -45.481 h -65.38 V 310.77 c 0,-11.821 2.89,-20.84 8.68,-27.059 5.8,-6.211 14.18,-9.32 25.15,-9.32 12.8,0 23.47,3.339 32.01,10.007 l 16,-40.476"
        ></path><path
          id="path36"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4174.86,268.93 c 14.33,0 27.05,3.261 38.18,9.781 11.13,6.519 18.98,15.84 23.55,27.969 v 28.191 h -58.99 c -32.91,0 -49.37,-10.762 -49.37,-32.281 0,-10.309 4.11,-18.5 12.34,-24.559 8.23,-6.062 19.66,-9.101 34.29,-9.101 z m 7.78,207.371 c 35.96,0 63.47,-8.563 82.52,-25.692 19.06,-17.129 28.58,-42.968 28.58,-77.539 V 230.73 h -53.96 v 29.559 c -7.01,-10.609 -16.99,-18.719 -29.94,-24.328 -12.95,-5.609 -28.58,-8.41 -46.87,-8.41 -18.28,0 -34.29,3.109 -48,9.32 -13.72,6.219 -24.31,14.859 -31.78,25.918 -7.47,11.07 -11.2,23.582 -11.2,37.52 0,21.832 8.15,39.339 24.46,52.531 16.31,13.191 41.99,19.781 77.04,19.781 h 63.1 v 3.641 c 0,16.976 -5.11,30.008 -15.32,39.097 -10.21,9.102 -25.38,13.653 -45.49,13.653 -13.72,0 -27.21,-2.121 -40.47,-6.371 -13.26,-4.243 -24.46,-10.153 -33.6,-17.731 l -22.41,41.379 c 12.81,9.699 28.2,17.133 46.18,22.281 17.99,5.16 37.04,7.731 57.16,7.731 v 0"
        ></path><path
          id="path38"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4412.58,568.164 h 57.16 V 230.73 h -57.16 v 337.434"></path><path
          id="path40"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4413.88,593.539 c 19.76,108.043 122.23,180.938 231.42,164.652 -21.55,-106.914 -122.73,-178.906 -231.42,-164.652"
        ></path><path
          id="path42"
          style="fill:#94bc8b;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4375.45,651.152 c 7.47,-16.718 17.26,-32.656 29.39,-47.328 3.73,16.703 9.35,32.539 16.6,47.328 z m 95.07,101.774 c -3.99,44.945 -22.99,88.82 -56.99,123.625 -32.95,-35.133 -51.34,-78.805 -55.2,-123.485 10.02,-0.921 19.76,-1.086 26.3,-1.086 h 61.36 c 6.12,0 15.12,0.145 24.53,0.946 z m -0.08,-36.981 c 0.81,8.664 1.06,17.375 0.76,26.063 -7.56,-0.629 -15.96,-0.949 -25.21,-0.949 h -61.36 c -9.95,0 -18.94,0.363 -26.96,1.086 -0.9,-27.106 3.53,-54.352 13.28,-80.071 h 56.24 c 11.5,20.375 26.17,38.516 43.25,53.871 v 0"
        ></path><path
          id="path44"
          style="fill:#6b1124;fill-opacity:1;fill-rule:evenodd;stroke:none"
          d="m 4384.63,741.059 h 61.36 c 34.13,0 56.68,4.308 67.89,12.812 11.21,8.504 16.76,24.399 16.76,47.68 v 44.73 c 0,23.285 -5.55,39.184 -16.76,47.68 -11.21,8.504 -33.76,12.816 -67.89,12.816 h -61.73 c -34.87,0 -57.67,-4.312 -68.38,-12.937 -10.85,-8.621 -16.27,-25.012 -16.27,-49.285 v -43.864 c 0,-22.796 5.67,-38.441 17.13,-46.945 11.34,-8.504 34.01,-12.687 67.89,-12.687 z m -26.12,-78.985 c -36.84,0 -63.83,1.727 -80.95,5.051 -17.13,3.328 -31.17,9 -41.89,17.008 -12.2,8.996 -20.95,20.945 -26.25,35.609 -5.42,14.664 -8.13,34.004 -8.13,58.278 v 86.128 c 0,26.489 2.71,47.434 8.13,62.84 5.3,15.399 14.05,27.598 26.25,36.715 10.59,7.887 24.76,13.551 42.38,17 17.62,3.328 44.23,5.055 80.09,5.055 h 113.6 c 35.85,0 62.72,-1.727 80.46,-5.055 17.74,-3.449 31.91,-9.113 42.38,-17 11.71,-9 20.33,-21.07 25.75,-36.473 5.43,-15.402 8.14,-35.238 8.14,-59.261 v -88.098 c 0,-3.047 -0.05,-6.023 -0.13,-8.93 -83.6,5.247 -161.38,-38.414 -201.14,-108.867 h -68.69 z m -398.59,80.215 h 210.32 v -76.391 h -306.8 v 316.036 h 96.48 V 742.289 Z m -404.76,-1.23 h 61.37 c 34.12,0 56.67,4.308 67.88,12.812 11.21,8.504 16.76,24.399 16.76,47.68 v 44.73 c 0,23.285 -5.55,39.184 -16.76,47.68 -11.21,8.504 -33.76,12.816 -67.88,12.816 h -61.74 c -34.86,0 -57.66,-4.312 -68.38,-12.937 -10.84,-8.621 -16.26,-25.012 -16.26,-49.285 v -43.864 c 0,-22.796 5.66,-38.441 17.13,-46.945 11.33,-8.504 34,-12.687 67.88,-12.687 z m -26.11,-78.985 c -36.85,0 -63.83,1.727 -80.96,5.051 -17.13,3.328 -31.17,9 -41.89,17.008 -12.2,8.996 -20.94,20.945 -26.24,35.609 -5.43,14.664 -8.14,34.004 -8.14,58.278 v 86.128 c 0,26.489 2.71,47.434 8.14,62.84 5.3,15.399 14.04,27.598 26.24,36.715 10.59,7.887 24.76,13.551 42.38,17 17.62,3.328 44.24,5.055 80.09,5.055 h 113.6 c 35.86,0 62.72,-1.727 80.46,-5.055 17.74,-3.449 31.92,-9.113 42.39,-17 11.7,-9 20.33,-21.07 25.75,-36.473 5.42,-15.402 8.13,-35.238 8.13,-59.261 v -88.098 c 0,-24.273 -2.71,-44.109 -8.13,-59.269 -5.42,-15.278 -14.05,-27.473 -25.75,-36.469 -10.6,-8.008 -24.65,-13.68 -42.02,-17.008 -17.37,-3.324 -44.36,-5.051 -80.83,-5.051 h -113.22 z m -599.31,108.922 95.36,0.125 v -5.664 c 0,-11.953 2.96,-19.965 8.75,-24.031 5.79,-4.184 17.87,-6.285 36.35,-6.285 h 121.24 c 11.95,0 20.45,1.972 25.5,6.035 5.05,4.066 7.64,10.722 7.64,19.961 0,9.488 -2.95,16.39 -8.75,20.461 -5.91,4.062 -18.6,6.898 -37.95,8.254 l -151.54,3.449 c -37.95,1.109 -63.59,8.25 -76.89,21.562 -13.43,13.305 -20.08,37.453 -20.08,72.575 0,18.105 1.72,33.136 5.29,44.843 3.58,11.707 9.25,21.567 17.01,29.321 9.12,8.757 21.07,14.91 35.98,18.613 14.91,3.695 39.05,5.543 72.57,5.543 h 147.36 c 36.47,0 62.72,-6.656 78.86,-19.965 16.01,-13.305 24.02,-34.867 24.02,-64.684 0,-2.097 0,-4.183 0,-6.41 -0.12,-2.34 -0.37,-6.035 -0.86,-11.086 h -92.9 v 1.356 c 0,10.472 -2.59,18.234 -7.89,23.535 -5.29,5.293 -13.3,7.887 -23.9,7.887 h -111.26 c -18.61,0 -30.81,-1.848 -36.72,-5.543 -5.91,-3.703 -8.87,-10.11 -8.87,-19.348 0,-9 2.71,-15.523 8.14,-19.59 5.29,-4.066 15.15,-6.652 29.56,-7.762 l 158.82,-2.593 c 36.23,-0.985 61.73,-9.114 76.51,-24.391 14.79,-15.281 22.19,-41.398 22.19,-78.363 0,-21.938 -2.71,-38.938 -8.13,-50.891 -5.55,-11.949 -14.67,-22.297 -27.6,-30.801 -8.51,-5.3 -19.97,-9.238 -34.5,-11.582 -14.67,-2.339 -35.74,-3.453 -63.33,-3.453 h -128.64 c -52.73,0 -87.97,5.914 -105.84,17.742 -17.86,11.836 -26.73,33.887 -26.73,66.047 0,1.848 0.12,5.051 0.36,9.364 0.13,4.312 0.5,9.488 0.87,15.769 z m -244.33,-28.707 h 210.32 v -76.391 h -306.8 v 316.036 h 96.48 V 742.289 Z m -171.14,-76.391 h -96.61 v 316.036 h 96.61 V 665.898 Z m -359.54,89.082 126.05,226.954 h 102.51 L 2214.74,665.898 h -116.93 l -167.08,316.036 h 105.35 L 2154.73,754.98 Z m -264.16,-89.082 h -96.61 v 316.036 h 96.61 V 665.898 Z m -254.68,202.071 v 3.203 c 0,12.316 -4.07,21.316 -12.2,27.105 -8.13,5.664 -21.07,8.5 -38.69,8.5 h -77.25 c -33.15,0 -54.34,-3.945 -63.83,-11.953 -9.48,-8.008 -14.17,-24.765 -14.17,-50.269 v -43.864 c 0,-22.796 5.3,-38.441 15.77,-46.945 10.48,-8.504 31.18,-12.687 62.23,-12.687 h 55.94 c 30.68,0 50.88,3.082 60.49,9.238 9.49,6.16 14.3,17.621 14.3,34.254 v 3.328 h 97.83 c 0,-0.371 0.12,-1.113 0.24,-2.219 0.37,-9.242 0.62,-16.14 0.62,-20.703 0,-20.203 -2.59,-36.84 -7.64,-50.019 -5.05,-13.184 -13.06,-23.661 -24.03,-31.668 -10.35,-7.637 -24.15,-13.063 -41.27,-16.262 -17.13,-3.324 -42.39,-4.934 -75.66,-4.934 h -107.81 c -33.02,0 -57.29,1.727 -72.82,5.301 -15.52,3.574 -28.83,9.488 -39.92,17.988 -12.69,10.106 -21.93,22.426 -27.72,37.086 -5.79,14.664 -8.75,33.149 -8.75,55.571 v 86.128 c 0,45.215 10.72,76.883 32.28,94.75 21.57,17.868 60.5,26.86 116.93,26.86 h 107.81 c 34.63,0 60.26,-1.606 76.64,-4.684 16.39,-3.082 29.33,-8.379 38.81,-15.652 9.98,-7.754 17.38,-17.984 22.18,-30.922 4.81,-12.934 7.15,-29.203 7.15,-48.672 0,-4.683 0,-8.25 -0.12,-10.719 -0.13,-2.582 -0.25,-4.925 -0.62,-7.14 h -96.72 v 0"
        ></path></g
      ></g
    ></svg
  >
  <h2 class="footer__logo--text">Lorem ipsum dolor sit amet.</h2>
</div>

<style>
  svg {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  div {
    max-width: 500px;
  }
  h2 {
    color: var(--nice-grey);
    padding-inline: 0.4rem;
  }
  @media (max-width: 600px) {
    div {
      margin-bottom: 1rem;
    }
    svg {
      max-width: 300px;
    }
    h2 {
      text-align: center;
    }
  }
</style>
