---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";

let title = "Civilsolo Ambiental";

const { activeNav } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A Civilsolo Ambiental desenvolve soluções ambientais inovadoras, compatíveis com ganhos econômicos, sociais e culturais para grupos, empresas, fundações, governos, ONGs e sociedade em geral."
    />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"
    />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"
    />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"
    />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <style global>
      @import "../styles/global.css";
      @import "../styles/colors.css";
      @import "../styles/home.css";
    </style>
  </head>
  <body>
    <Header {activeNav} />

    <slot />

    <footer class="full__background">
      <div class="footer__content">
        <Footer />
      </div>
    </footer>
  </body>
</html>
<script hoist>
  document.addEventListener("DOMContentLoaded", () => {
    const dropAreaBoxes = document.querySelectorAll(".drop-area-box");

    ["dragenter", "dragover", "dragleave", "drop"].forEach((eventName) => {
      [...dropAreaBoxes].forEach((element) => {
        element.addEventListener(eventName, preventDefaults, false);
      });
    });

    function preventDefaults(e) {
      e.preventDefault();
      e.stopPropagation();
    }
    ["dragenter", "dragover"].forEach((eventName) => {
      [...dropAreaBoxes].forEach((element) => {
        element.addEventListener(eventName, highlight, false);
      });
    });

    ["dragleave", "drop"].forEach((eventName) => {
      [...dropAreaBoxes].forEach((element) => {
        element.addEventListener(eventName, unhighlight, false);
      });
    });

    function highlight(e) {
      e.target.classList.add("highlight");
    }

    function unhighlight(e) {
      e.target.classList.remove("highlight");
    }

    [...dropAreaBoxes].forEach((element) => {
      element.addEventListener("drop", handleDrop, false);
    });

    function handleDrop(e) {
      let dt = e.dataTransfer;
      let files = dt.files;
      previewFile(files[0], e.target);
    }
    function handleFiles(files) {}

    function previewFile(file, target) {
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onloadend = function () {
        if (target.nodeName === "IMG") {
          target.src = reader.result;
        } else {
          target.dataset.img = reader.result;
          target.style = `background-image: url(${reader.result})`;
        }
      };
    }
  });
</script>

<style>
  .full__background {
    background-color: var(--footer-background-color);
    padding-block: 2rem;
  }

  .footer__content {
    width: 90%;
    margin: 0 auto;
  }
</style>
